/* CSS design by @jofpin */
@import url(http://fonts.googleapis.com/css?family=Raleway|Varela+Round|Coda);
@import url(http://weloveiconfonts.com/api/?family=entypo);

[class*="entypo-"]:before {
    font-family: 'entypo', sans-serif;
}


.title-pen {
    color: #333;
    font-family: "Coda", sans-serif;
    text-align: center;
}
.title-pen span {
    color: #55acee;
}

.user-profile {
    margin: auto;
    width: 70%;
    height: 11em;
    background: #fff;
    border-radius: .3em;
    position: relative;
    top:210px;
    background-color: #eeeeee;
}

.user-profile  .username {
    padding-top: 15px;
    margin: auto;
    margin-top: -4.40em;
    margin-left: 5.80em;
    color: #254254;
    font-size: 1.53em;
    font-family: "Coda", sans-serif;
    font-weight: bold;
}
.user-profile  .bio {
    margin: auto;
    display: inline-block;
    margin-left: 2em;
    color: #254254;
    font-size: .87em;
    font-family: "varela round", sans-serif;
}
.user-profile > .description {
    margin-left: 10.3em;
    margin-top: 1.35em;
    width: 100%;
    color: #c0c5c5;
    font-size: .87em;
    font-family: "varela round", sans-serif;
}
.user-profile > img.avatar {
    padding: .7em;
    margin-left: .3em;
    margin-top: .3em;
    height: 6.23em;
    width: 6.23em;
    border-radius: 18em;
}

.user-profile ul.data {
    margin: 2em auto;
    height: 3.70em;
    background: #7cb6f7;
    text-align: center;
    border-radius: 0 0 .3em .3em;
}
.user-profile li {
    margin: 0 auto;
    padding: 1.30em;
    width: 33.33334%;
    display: table-cell;
    text-align: center;
}

.user-profile span {
    font-family: "varela round", sans-serif;
    color: #e3eeee;
    white-space: nowrap;
    font-size: 1.27em;
    font-weight: bold;
}
.user-profile span:hover {
    color: #daebea;
}

.points {
    color: #fff;
    float: left;
}

.points .pointIcon {
    margin-left: 7px;
}

.email {
    color: #254254;
    float: left;
    margin-right: 8px;
}
