h2 {
  font-size: 16px; }

#header {
  font-size: 12px; }

#header.active {
  background-color: #f4fef4; }

#consultation-title {
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 40px; }

#consultation-title a {
  font-size: 11px; }

#header .message h3 {
  font-size: 16px; }

#header .message h2 {
  margin-top: 0;
  margin-bottom: 5px; }

#header .message {
  margin-bottom: 20px; }

#duration {
  border-radius: 2px;
  padding: 10px;
  text-align: center;
  margin-bottom: 10px; }

.inactive #duration {
  border: 1px solid green; }

.active #duration {
  border: 1px solid darkblue; }

#duration .dates {
  padding: 10px 0px; }

.show-hide {
  border: medium none;
  box-shadow: none;
  color: gray;
  display: inline;
  font-size: 20px;
  line-height: 20px;
  padding: 0;
  vertical-align: -1px;
  width: 11px;
  position: absolute;
  top: 5px;
  z-index: 10; }

.show-hide.collapsed span:first-child,
.show-hide span:last-child {
  display: none; }

.show-hide.collapsed span:last-child {
  display: block; }

.article {
  padding-top: 20px;
  border-bottom: 1px solid gray;
  padding-bottom: 20px; }

.article .article-body {
  color: #333333;
  font-size: 13px;
  font-weight: normal;
  line-height: 1.6em;
  margin-top: 10px; }

#toolbar blockquote {
  font-size: 11px;
  line-height: 1.1em;
  padding: 0;
  padding-left: 5px;
  margin-top: 5px; }

#toolbar #comment-wrap {
  margin-top: 10px; }

.modal-footer {
  border-top: none; }

.highlight {
  color: red; }

#toolbar hr {
  margin: 15px; }

#toolbar textarea {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%; }

#toolbar .mce-tinymce {
  margin-top: 5px;
  margin-bottom: 15px; }

#toolbar .btn {
  margin-bottom: 15px; }

.ann #toolbar {
  display: block; }

.article-title-text .ann {
  width: 97%; }

.ann {
  display: inline-block;
  position: relative;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  padding-top: 3px;
  width: 100%; }

.title .ann {
  width: 98%;
  margin-left: 11px;
  padding-left: 5px;
  margin-bottom: 0;
  padding-top: 0; }

.title .ann-icon {
  padding-left: 0; }

.ann:hover {
  background-color: #fefbd1; }

.ann p {
  padding: 0;
  margin: 0; }

.ann:hover .ann-icon {
  display: block; }

.ann-icon {
  display: none;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  cursor: pointer;
  text-align: left;
  padding: 5px 10px;
  position: absolute;
  width: 100%;
  top: -26px;
  font-size: 12px;
  left: 0;
  background-color: #fefbd1;
  color: blue; }

a.load {
  color: darkred; }

#consultation-body li {
  list-style: none; }

#annotationTagProblemId, #annotationTagTopicId {
  width: 550px; }

.select2-search__field {
  min-width: 250px !important; }

.aside-button {
  padding: 6px 7px;
  color: white;
  background-color: #428bca;
  border-radius: 2px;
  margin-bottom: 10px;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden; }

.aside-button.completed {
  background-color: #f47a21; }

.aside-button .fa {
  margin-right: 5px;
  font-size: 26px;
  vertical-align: middle; }

.aside-button a, .aside-button {
  color: white; }

.aside-button#final-doc {
  background-color: green; }

#ministerMessagesModal .modal-dialog {
  width: 50%; }

#initialMessagesModal .modal-dialog {
  width: 50%; }

.modal-backdrop {
  z-index: -1; }

.ministerMessagesList li {
  list-style-type: none; }

.ministerMessagesList li .date {
  float: right;
  background-color: lightgray; }

.commentBox {
  background-color: #f6f7f8;
  font-size: 12px; }

.commentBox .commentForm {
  display: none; }

.commentBox .comment {
  font-weight: normal;
  padding: 10px 1em;
  padding-right: 40px;
  position: relative; }

.commentBox .comment:nth-child(2n) {
  background-color: #fffff2; }

.commentBox .comment .commentAuthor {
  color: #3b5998;
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
  display: inline-block;
  margin-right: 3px; }

.commentBox .comment .avatar {
  float: left;
  margin-right: 10px;
  margin-bottom: 10px; }

.commentBox .comment .avatar img {
  height: 30px; }

.commentBox .comment .options {
  margin-top: 10px; }

.commentBox .comment .options a {
  cursor: pointer; }

.commentBox .comment .options .c {
  margin-right: 20px;
  margin-left: 5px;
  display: inline-block; }

.commentBox .comment .icons {
  position: absolute;
  right: 14px;
  top: 5px;
  opacity: 0.8; }

.commentBox .comment .options a.active {
  color: gray; }

.commentBox .comment .options .fa {
  margin-left: 5px; }

.commentBox .comment .date {
  color: gray; }

.load {
  cursor: pointer; }

.commentBox .comment .load {
  cursor: pointer; }

.commentBox .load-all {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  font-size: 12px;
  cursor: pointer; }

.commentBox .comment .tag {
  margin-top: 10px; }

.commentBox .comment .tag span {
  display: inline-block;
  background-color: lightgray;
  width: auto;
  border-radius: 4px;
  padding: 1px 4px; }

.loading-wrp {
  text-align: center; }

.loading,
.loading::before,
.loading::after {
  position: absolute;
  top: 50%;
  left: 50%;
  border: 1px solid gray;
  border-left-color: lightgray;
  -webkit-border-radius: 999px;
  -moz-border-radius: 999px;
  border-radius: 999px; }

.loading {
  margin: -25px 0 0 -25px;
  height: 50px;
  width: 50px;
  -webkit-animation: animation-rotate 1000ms linear infinite;
  -moz-animation: animation-rotate 1000ms linear infinite;
  -o-animation: animation-rotate 1000ms linear infinite;
  animation: animation-rotate 1000ms linear infinite; }

.loading::before {
  content: "";
  margin: -23px 0 0 -23px;
  height: 44px;
  width: 44px;
  -webkit-animation: animation-rotate 1000ms linear infinite;
  -moz-animation: animation-rotate 1000ms linear infinite;
  -o-animation: animation-rotate 1000ms linear infinite;
  animation: animation-rotate 1000ms linear infinite; }

.loading::after {
  content: "";
  margin: -29px 0 0 -29px;
  height: 56px;
  width: 56px;
  -webkit-animation: animation-rotate 2000ms linear infinite;
  -moz-animation: animation-rotate 2000ms linear infinite;
  -o-animation: animation-rotate 2000ms linear infinite;
  animation: animation-rotate 2000ms linear infinite; }

@-webkit-keyframes animation-rotate {
  100% {
    -webkit-transform: rotate(360deg); } }
@-moz-keyframes animation-rotate {
  100% {
    -moz-transform: rotate(360deg); } }
@-o-keyframes animation-rotate {
  100% {
    -o-transform: rotate(360deg); } }
@keyframes animation-rotate {
  100% {
    transform: rotate(360deg); } }
#tabs.nav {
  background-color: #254254; }

#tabs.nav-tabs {
  border: none; }

#tabs.nav-tabs > li {
  float: left;
  margin-bottom: 0px;
  border: none;
  border-radius: 0; }

#tabs.nav-tabs > li > a {
  background-color: transparent;
  border: none;
  color: white;
  border-radius: 0; }

#tabs.nav-tabs > li > a:hover {
  background-color: #ed6d46; }

#tabs.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  border: none;
  border-radius: 0;
  cursor: default;
  background-color: #7cb6f7;
  color: white; }

#results tr {
  border-bottom: 1px solid lightgray;
  display: block;
  margin-bottom: 10px;
  padding-bottom: 10px;
  padding-top: 10px; }

.activeCons {
  color: #3c763d; }

.inactiveCons {
  color: #c12e2a; }

.notLoggedinWrapper .fa-exclamation-triangle {
  float: left;
  margin-right: 10px;
  margin-top: 3px; }

/*# sourceMappingURL=consultation.css.map */
