@import "../utilities/variables";

//.article ::-moz-selection { /* Code for Firefox */
//  color: red;
//  background: yellow;
//}
//
//.article ::selection {
//  color: red;
//  background: yellow;
//}

.highlight
{
  color:red;
}

#consultation-header .title {
  font-size: 16px;
  margin-top: 20px;
}

.show-hide
{
  border: medium none;
  box-shadow: none;
  color: gray;
  display: inline;
  font-size: 20px;
  line-height: 20px;
  padding: 0;
  vertical-align: -1px;
  width: 11px;
}

.show-hide.collapsed span:first-child,
.show-hide span:last-child
{
  display:none;
}
.show-hide.collapsed span:last-child
{
  display:inline;
}

.ann:hover {
   background-color:lightyellow;
}

.article {

  padding-top: 20px;
}

.article .article-body {
  color: #333333;
  font-size: 13px;
  font-weight: normal;
  line-height: 1.6em;
  margin-top:10px;
}


#toolbar {
  position:fixed;
 top:0;
 background-color:white;
  padding:10px;
  max-width:600px;
  display:none;
  border:1px solid gray;
  border-radius:10px;
}
#toolbar blockquote {
  font-size: 11px;
  line-height: 1.1em;
  padding:0;
  padding-left: 5px;
  margin-top:5px;
}
#toolbar #comment-wrap
{
  margin-top:10px;
}

#toolbar hr{
  margin:15px;

}
#toolbar select
{
  width:100%;
  margin-bottom: 15px;
}
#toolbar .mce-tinymce
{
  margin-top:5px;
  margin-bottom:15px;
}

#toolbar .btn
{
    margin-bottom:15px;
}
.ann #toolbar
{
  display:block;

}

.ann {
  display: inline-block;
  padding-right: 30px;
  position: relative;
  width: 100%;
}
.article-title-text .ann
{
  width:97%;
}


$annotation-icon-bg-color: lightgray;
$annotation-icon--color: #fff;

.ann:hover .ann-icon {
  display: block;
}

.ann-icon
{
  border-radius: 8px;
  cursor: pointer;
  display: none;
  font: 12px Arial,sans-serif;
  padding-bottom: 2px;
  padding-top: 1px;
  position: absolute;
  right: 12px;
  text-align: center;
  top: 0;
  width: 23px;
  color: $annotation-icon--color;
  background: $annotation-icon-bg-color;
}
.ann-icon:before {
  border-style: solid;
  border-width: 0 0 8px 7px;
  bottom: -6px;
  content: "";
  position: absolute;
  right: 0;
  border-color: transparent $annotation-icon-bg-color;
}


#results tr{
  border-bottom: 1px solid lightgray;
  display: block;
  margin-bottom: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
}

.comment-wrp
{
  padding:0;
  margin-left:-32px;
}

.commentBox.loading
{
  display:none;
}
.commentBox .commentForm
{
  display:none;
}