@import "../utilities/variables";

$annotation-color: #fffcd6;
$annotation-hover-color: #fffcd6;

h2{
  font-size:16px;
}

// <editor-fold descr="header">

#header
{
  font-size:12px;
}
#consultation-title {
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 40px;
}
#consultation-title a {
  font-size: 11px;
}

#header .message h3
{
  font-size:16px;
}
#header .message h2
{
  margin-top:0;
  margin-bottom:5px;
}
#header .message
{
  margin-bottom:20px;
}
#duration {

  border-radius: 2px;
  padding: 10px;
  text-align: center;
  margin-bottom:10px;
}
.inactive #duration
{
  border: 1px solid green;
}

.active #duration
{
  border: 1px solid darkblue;
}

#duration .dates {
  padding: 10px 0px;
}


// </editor-fold>

// <editor-fold descr="articles">
.show-hide {
  float: right;
  box-shadow: none;
  font-size: 11px;
  padding:0;
}
.show-hide.collapsed span:first-child,
.show-hide span:last-child {
  display:none;
}
.show-hide.collapsed span:last-child
{
  display:block;

}

.article {
  padding-top: 20px;
  border-bottom: 1px solid gray;
  padding-bottom: 20px;
  transition: background-color 1s ease-in-out;
}

.article-body
{
  font-size: 14px;
  padding-top: 5px;
  line-height: 190%;
}

.article-title-text {
  font-weight: bold;
}

#intro-text {
  font-size: 14px;
}

.commentbox-wrap {
  margin-bottom: 8px;
  margin-top: -3px;
}

// </editor-fold>

// <editor-fold descr="toolbar">

.select2
{
  margin-bottom:10px;
}

.select2-container--default .select2-selection--multiple {
  border: none !important;
  border-bottom: 2px solid  darkgray!important;
  padding: 0;
  margin: 0;
  border-radius: 0;
  min-height: 28px;
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered
{
  margin:0;
  padding:0;
}
.select2-container .select2-search--inline .select2-search__field
{
  margin:0;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice
{
  //background-color: #254254;
  //color:white;
  border: 1px solid #aaa;
  border-radius: 4px;
  cursor: default;
  float: left;
  margin-right: 5px;
  padding: 0 5px;
  margin-top:0;
}
.select2-search__field
{
  min-width:477px !important;
}

.modal-body
{
  padding:0;
}

.modal-body .padding
{
  padding:15px;
  padding-bottom: 0;
}

#toolbar blockquote {
  font-size: 11px;
  line-height: 1.1em;
  padding-left: 5px;
  margin-bottom: 5px;
  background-color: $annotation-color;
  border: 0;
  padding: 16px;
  max-height: 200px;
  overflow-y: scroll;
}
#toolbar #comment-wrap {
  margin-top:10px;
}
.modal-footer {
  border-top:none;
  padding-top:5px;
}

.modal-footer .warning
{
  float:left;
  width:50%;
  font-size:11px;
  text-align:left;

}

.highlight {
  color:red;
}
#toolbar hr {
  margin:15px;

}
#toolbar textarea {
  display:block;
  margin-top:10px;
  margin-bottom:10px;
  width:100%;
  min-height: 150px;
}
#toolbar label
{
  margin-top: 10px;
  margin-bottom: 5px;
  font-weight: 700;
}
#toolbar .mce-tinymce {
  margin-top:5px;
  margin-bottom:15px;
}
#toolbar .btn {
  margin-bottom:15px;
}
.ann #toolbar {
  display:block;
}
.article-title-text .ann {
  width:94%;
}

.ann {
  display: inline-block;
  position: relative;
  margin-top: 0;
  margin-bottom: 0px;
  padding-bottom: 0px;
  padding-top: 0;
  width: 100%;
  margin-left: -25px;
  padding-left: 25px;
}


.ann:hover {
  background-color:$annotation-hover-color;
}
.article p, .article ol, .article ul {
  padding:0;
  margin:0;
}
.article br
{
  display:none;
}

//.ann ::selection { background-color:$annotation-color; }
//.ann ::-moz-selection { background-color:$annotation-color; } /* firefox 19+ */

.ann.hl{
  background-color:$annotation-color;
}
.ann-icon.on{
  display: block;
}
.ann-icon{
  display: none;
  cursor: pointer;
  text-align: left;
  position: absolute;
  top:-4px;
  font-size: 21px;
  left: 0px;
  color: gray;
  bottom: 0;
  padding: 0;
  padding-top: 0;
  margin: 0;
  background-color: white;

}
a.load {
  color:darkred;
  font-size:12px;
}
#consultation-body li {
  list-style:none;
}
#annotationTagProblemId, #annotationTagTopicId
{
  width:550px;
}

// </editor-fold >

// <editor-fold descr="aside">

.aside-button {
  padding: 6px 7px;
  color:white;
  background-color: #428bca;
  border-radius: 2px;
  margin-bottom:10px;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.aside-button.completed {
  background-color: #f47a21;
}
.aside-button .fa
{
  margin-right: 5px;
  font-size: 26px;
  vertical-align: middle;
}
.aside-button a, .aside-button
{
  color:white;
}

.aside-button#final-doc
{
  background-color:green;
}



// </editor-fold>

// <editor-fold descr="minister messages">
#ministerMessagesModal .modal-dialog {
  width:50%;
}
#initialMessagesModal .modal-dialog {
  width:50%;
}

.modal-backdrop {
  z-index: -1;
}


.ministerMessagesList li {
  list-style-type: none;
}

.ministerMessagesList li .date {
  float: right;
  background-color: lightgray;
}
// </editor-fold>

// <editor-fold descr="comments">

.commentBox {
  font-size: 12px;

}
.commentBox .htmlText {
  margin-top: 16px;
}
.htmlText {
  background-color: white;
  margin-top: 15px;
  padding: 10px;
}
.htmlText .fa {
  margin-right: 5px;
}
.partName {
  font-weight: bold;
}
.commentBox .commentForm
{
  display:none;
}

.commentBox .comment {
  font-weight: normal;
  padding: 10px 1em;
  padding-right: 40px;
  position: relative;
  border: 1px solid lightgray;
  background-color: #f4f7f7;
  margin-bottom: 2px;
  border-radius: 6px;
  margin-top: 5px;
  transition: background-color 1s ease-in-out;
}



.commentBox .comment .commentAuthor {
  display:inline-block;
  margin-right:3px;
}

.commentBox .comment .avatar img
{
  height:30px;
}
.commentBox .comment .options {
  margin-top: 10px;
}
.commentBox .comment .options a
{
  cursor:pointer;
}
.comment .options .reply
{
  margin-right: 15px;
}
.commentBox .comment .options .reply .fa
{
  margin-left: 0px;
}
.commentBox .comment .options .c {
  margin-right:20px;
  margin-left:5px;
  display:inline-block;
}
.commentBox .comment .icons{
  position: absolute;   right: 14px;   top: 5px;   opacity: 0.8;
}

.commentBox .comment .options a.active
{
  color:gray;
}
.commentBox .comment .options .fa
{
  margin-left:5px;
}

.commentBox .comment .date
{
  color:gray;
}

.load
{
  cursor:pointer;
}


.commentBox .comment .load
{
  cursor:pointer;
}
.commentBox .load-all
{
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  font-size: 12px;
  cursor:pointer;
}
.commentBox .comment .tags
{
  clear:both;
}
.commentBox .comment .tag
{
  margin-bottom:5px;
  margin-right:5px;
}
.commentBox .comment .problem
{
  clear:both;
}
.commentBox .comment .tag.pr span
{
  background-color:lightcoral ;
}

.commentBox .comment .tag.topic span
{
  background-color:lightblue;
}
.commentBox .comment .tag span
{
  display: inline-block;
  background-color: lightgray;
  width: auto;
  border-radius: 4px;
  padding: 1px 4px;
}
.loading-wrp
{
  text-align: center;
}
.loading,
.loading::before,
.loading::after {
  position: absolute;
  top: 50%;
  left: 50%;
  border: 1px solid gray;
  border-left-color: lightgray;
  -webkit-border-radius: 999px;
  -moz-border-radius: 999px;
  border-radius: 999px;
}

.loading {
  margin: -25px 0 0 -25px;
  height: 50px;
  width: 50px;
  -webkit-animation: animation-rotate 1000ms linear infinite;
  -moz-animation: animation-rotate 1000ms linear infinite;
  -o-animation: animation-rotate 1000ms linear infinite;
  animation: animation-rotate 1000ms linear infinite;
}

.loading::before {
  content: "";
  margin: -23px 0 0 -23px;
  height: 44px;
  width: 44px;
  -webkit-animation: animation-rotate 1000ms linear infinite;
  -moz-animation: animation-rotate 1000ms linear infinite;
  -o-animation: animation-rotate 1000ms linear infinite;
  animation: animation-rotate 1000ms linear infinite;
}

.loading::after {
  content: "";
  margin: -29px 0 0 -29px;
  height: 56px;
  width: 56px;
  -webkit-animation: animation-rotate 2000ms linear infinite;
  -moz-animation: animation-rotate 2000ms linear infinite;
  -o-animation: animation-rotate 2000ms linear infinite;
  animation: animation-rotate 2000ms linear infinite;
}

@-webkit-keyframes animation-rotate {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@-moz-keyframes animation-rotate {
  100% {
    -moz-transform: rotate(360deg);
  }
}

@-o-keyframes animation-rotate {
  100% {
    -o-transform: rotate(360deg);
  }
}

@keyframes animation-rotate {
  100% {
    transform: rotate(360deg);
  }
}


// </editor-fold>

// <editor-fold descr="tabs">
#tabs.nav {
  background-color:#254254;
}
#tabs.nav-tabs {
  border: none;
}
#tabs.nav-tabs>li {
  float: left;
  margin-bottom: 0px;
  border: none;
  border-radius: 0;
}

#tabs.nav-tabs > li > a {
  background-color: transparent;
  border:none;
  color: white;
  border-radius:0;
}
#tabs.nav-tabs > li > a:hover{
  background-color:#ed6d46;
}

#tabs.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {

  border: none;
  border-radius: 0;
  cursor: default;
  background-color:#7cb6f7;
  color: white;
}
// </editor-fold>

// <editor-fold descr="relevant laws">
  #results tr{
  border-bottom: 1px solid lightgray;
  display: block;
  margin-bottom: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
}
// </editor-fold>

.activeCons {
  color: #3c763d;
}
.inactiveCons {
  color: #c12e2a;
}
.notLoggedinWrapper .fa-exclamation-triangle {
  float: left;
  margin-right: 10px;
  margin-top: 3px;
}


/*HIDE / UNHIDE LAWS*/
.relevantLaw .childLaws {
  display: none;
}

.childLaw {
  margin-right: 10px;
}

.sub-toolbar {
  border-radius: 0;
  margin-bottom: 18px;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left:10px;
  background-color:$consultation-subToolbar-backgroundColor;
}
.sub-toolbar ,.sub-toolbar a{
  color:White;
}
#tutorial
{float:left;}

#tutorial a:hover {
  text-decoration: none !important;
  cursor: pointer;
}

.relevantLaw a:hover {
  cursor: pointer;
}

.tutGif img {
  margin-top: 15px;
}

.statsBar.nav-tabs > li.active > a, .statsBar.nav-tabs > li.active > a:hover, .statsBar.nav-tabs > li.active > a:focus {
  background-color: $consultation-subToolbar-backgroundColor-activeLink;
  border-bottom-color: transparent;
  color: white;
  cursor: pointer;
}

.noStats {
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 10%;
  text-align: center;
}

#consWordCloud a:hover {
  text-decoration: none !important;
  cursor: pointer;
}

#consWordCloud {
  margin-left: 28px;
  float: left;
}

.wordCloudBtn {
  background: transparent;
  border: none;
  margin: 0px;
}

.wordCloudBtn:focus {
  outline-width: 0px !important;
}

#consWordCloudModal .modal-dialog {
  width: 1000px;
}

.modal-body .explanation {
  margin-top: 18px;
  text-align: center;
}

.organizationNameDiv {
  margin-bottom: 5px;
}

#finalLawDropZone {
  text-align: center;
}

.finalLaw .title {
  width: 65%;
}

.dz-error-message {
  width:200px;
}

#finalLaw {
  margin-top: 10px;
}

#finalLawModal .modal-dialog {
  width:95%;
}
#finalLawModal .modal-footer {
  text-align: center;
}
#finalLawModal .modal-body {
  height: 750px;
}

#finalLawModal #consultationTextDiv {
  max-height: 750px;
  overflow-y: scroll;
  width: auto;
  overflow-x: hidden;
  direction: rtl;
}

#finalLawModal #consultationTextDiv .consultationText{
  direction: ltr;
}
#finalLawModal #consultationTextDiv .consultationText .article{
  width:100%
}
#finalLawModal #finalLawDiv {
  max-height: 750px;
  overflow-y: scroll;
}

#noRateModal .modal-body {
  height: auto;
}

#finalLawModal #consultationTextDiv {
  float:left;
  width:45%;
  padding-left: 30px;
  padding-top: 10px;
}

#finalLawModal #finalLawDiv {
  float:right;
  width:45%;
  padding-right: 10px;
  padding-top: 10px;
}
#finalLawModal .container {
  margin-left: 0px;
  margin-right: 0px;
  width: 100%;
}

#finalLawModal .title {
  font-weight: bold;
}

.finalLaw .container {
  margin-left: auto;
  margin-right: auto;
  width: 10%;
}

.finalLawBtn {
  background-color: #428bca;
  border: none;
  color: white;
  padding: 11px;
  font-size: medium;
}

.finalLaw .title {
  margin-top: 10px;
  margin-bottom: 5px;
}

.finalLawIntegrity .stats {
  margin-top: 15px;
}

.finalLawIntegrity .statRow {
  margin-bottom: 5px;
}

.finalLawIntegrity .num {
  color: #428bca;
}

.rateFinalLaw:hover {
  cursor: pointer;
}


.noRateBtn {
  display: none;
}

.consFinalLawModal .modal-dialog {
  top: 200px;
}

.consFinalLawModal p {
  color: #797979;
  font-size: 16px;
  text-align: center;
  font-weight: 300;
  position: relative;
  text-align: inherit;
  float: none;
  margin-top: 5px;
  padding: 0;
  line-height: normal;
}

.consFinalLawModal .modal-content {
  padding: 11px;
}

.consFinalLawModal .modal-header .close {
  margin-top: -17px;
}

#rateApprove {
  float: left;
}

#rateDisapprove {
  float: right;
}

#finalLawDiv .stats {
  margin-bottom: 35px;
  padding-right: 10px;
}

#finalLawExplanationModal .msg {
  padding: 15px;
}

#finalLawExplanationModal .number {
  margin-right: 13px;
  margin-bottom: 60px;
  float: left;
  font-size: x-large;
  color: #428bca;
  font-weight: bold;
}

.finalLawExplanationBtn {
  margin-top: 15px;
}

#finalLawExplanationModal i {
  color: #428bca;
}

#finalLaw .info {
  margin-bottom: 10px;
}

#noRateModal .modal-dialog {
  width: 35%;
}

.waiting-msg {
margin-top: 10px;
}

.invisible {
  visibility: hidden;
}


.loader {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  font-size: 5px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(66, 139, 202, 0.2);
  border-right: 1.1em solid rgba(66, 139, 202, 0.2);
  border-bottom: 1.1em solid rgba(66, 139, 202, 0.2);
  border-left: 1.1em solid #428BCA;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.marginBottom {
  margin-bottom: 5px;
}

.dropzone {
  min-height: 150px;
  border: 2px solid rgba(66, 139, 202, 0.7) !important;
}




.loaderSmall {
  padding-right: 3px;
  float: right;
  margin: 0px;
  font-size: 3px !important;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(66, 139, 202, 0.2);
  border-right: 1.1em solid rgba(66, 139, 202, 0.2);
  border-bottom: 1.1em solid rgba(66, 139, 202, 0.2);
  border-left: 1.1em solid #428BCA;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
.loaderSmall,
.loaderSmall:after {
  border-radius: 50%;
  width: 20px;
  height: 20px;
}

#deleteFinalLaw:hover {
  cursor: pointer;
}

.replyInput {
  margin-top:20px;
  margin-bottom: 20px;
  margin-right: 20px;
  height:100px;
  width: 50%;
}

.replyBtn {
  position: absolute;
  margin-top: 70px;
}

.replyComment {
  margin-left: 40px;
}

.replyTitle {
  margin-top: 20px;
  margin-bottom: 10px;
}