@(cons:model.dtos.Consultation, relevantMaterials: Seq[model.dtos.RelevantMaterial])(implicit messages: Messages)

<div id="header" class="@{if (cons.isActive) "active" else "inactive"}">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 id="consultation-title">@Html(cons.title)  <a href="@cons.opengov_url" title="η διαβούλευση στο open.gov" target="_blank">open.gov</a></h1>
            </div>
        </div>

        <div class="row">
            <div class="col-md-10">
                <div id="intro-text" class="message">
                    <h2>@messages("consultation.headers.into")</h2>
                    @Html(cons.shortDescr)
                </div>
                @if(cons.report_text.isDefined) {
                    <div id="report-text" class="message">
                        <h2>@messages("consultation.headers.finish")</h2>
                        @Html(cons.report_text.get)
                    </div>
                }

            </div>
            <div class="col-md-2 organizationNameDiv"><div style="font-weight: bold">@messages("consultation.headers.organization")</div><div>@cons.organization.title</div></div>
            <div class="col-md-2">

                <div id="duration">
                    @if(cons.isActive) {
                        <span class="consState activeCons">@messages("consultation.headers.active")</span>
                    } else {
                        <span class="consState inactiveCons">@messages("consultation.headers.finish")/span>
                    }
                    <div class="dates">
                        @messages("consultation.headers.posted")
                        <br>
                        @cons.prettyDateFormat(cons.startDate)<br>
                        @messages("index.deadline")
                        <br>
                        @cons.prettyDateFormat(cons.endDate)
                    </div>
                    @messages("evaluation.duration") @cons.totalDurationFormatted

                </div>
                <div id="step2">
                    <div id="aside">
                        @for(
                            relevantMaterial <- relevantMaterials
                            if (relevantMaterial.pdf_url != cons.report_url.getOrElse(""))
                        ) {
                            <div class="aside-button">
                                <i class="fa fa-file-pdf-o"></i>
                                <a href="@relevantMaterial.pdf_url" target="_blank"> @relevantMaterial.title</a>
                            </div>
                        }
                        @if(cons.report_url.isDefined){
                            <div id="final-doc" class="aside-button">
                                <i class="fa fa-file-pdf-o"></i>
                                <a href="@cons.report_url" target="_blank">@messages("evaluation.final.consultation")</a>
                            </div>
                        }


                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

