@import model.viewmodels.ConsultationViewModel
@(vm: ConsultationViewModel)

@js = {
    @*<script src="http://rangy.googlecode.com/svn/trunk/currentrelease/rangy-core.js" ></script>*@
      @*<script src="//tinymce.cachefly.net/4.1/tinymce.min.js"></script>*@
    <script src="@routes.Assets.at("js/react-with-addons.js")"></script>
    @*<script src="@routes.Assets.at("js/select2.full.js")"></script>*@

    <script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.min.js"></script>
    <script src="@routes.Assets.at("js/underscore-min.js")"></script>
    <script src="http://momentjs.com/downloads/moment-with-locales.min.js"></script>
    <script src="@routes.Assets.at("js/classnames.js")" ></script>
    <script src="@routes.Assets.at("js/consultation/commentBox-compiled.js")" ></script>
    <script  src="@routes.Assets.at("js/consultation/scify-annotator.js")" ></script>
    <script  src="@routes.Assets.at("js/consultation/scify-consultationIndexPageHandler.js")" ></script>
    <script>
     $(function(){
        var controller = new scify.ConsultationIndexPageHandler(@vm.consultation.id,
                                                                @Html(if (vm.user.isDefined) "'"+vm.user.get.userID.toString+"'" else "''"),
                                                                @Html(if (vm.user.isDefined) "'"+vm.user.get.fullName.getOrElse("n/a")+"'" else "''"),
                                                                @Html(vm.discussionThreadsToJson()),
                                                                @Html(vm.relevantLawsToJson()),
                                                                Date.parse('@vm.consultation.endDate')
                                                                );
        controller.init();
     })
    </script>
}

@css = {
    <link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="http://css-spinners.com/css/spinner/spinner.css" type="text/css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("css/consultation/consultation.css")">
}

@layout("DemocracIT", css, js,None) {


        <div id="header" class="@{if (vm.consultation.isActive) "active" else "inactive"}">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 id="consultation-title">@Html(vm.consultation.title)  <a href="@vm.consultation.opengov_url" title="η διαβούλευση στο open.gov" target="_blank">open.gov</a></h1>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-10">
                        <div id="intro-text" class="message">
                            <h2>Εισαγωγή:</h2>
                            @Html(vm.consultation.shortDescr)
                        </div>
                        @if(vm.consultation.report_text.isDefined) {
                            <div id="report-text" class="message">
                                <h2>Αναγγελία ολοκλήρωσης:</h2>
                                @Html(vm.consultation.report_text.get)
                            </div>
                        }

                    </div>
                    <div class="col-md-2">
                        <div id="duration">
                            @if(vm.consultation.isActive) {
                                <span class="consState activeCons">ενεργη</span>
                            } else {
                                <span class="consState inactiveCons">ολοκληρώθηκε</span>
                            }
                            <div class="dates">
                                Αναρτήθηκε
                                <br>
                                @vm.consultation.prettyDateFormat(vm.consultation.startDate)<br>
                                λήξη
                                <br>
                                @vm.consultation.prettyDateFormat(vm.consultation.endDate)
                            </div>
                            Διάρκεια @vm.consultation.totalDurationFormatted

                        </div>
                        <div id="aside">
                        @for(
                            relevantMaterial <- vm.relevantMaterials
                            if (relevantMaterial.pdf_url != vm.consultation.report_url.getOrElse(""))
                        ) {
                            <div class="aside-button">
                                <i class="fa fa-file-pdf-o"></i>
                                <a href="@relevantMaterial.pdf_url" target="_blank"> @relevantMaterial.title</a>
                            </div>
                        }
                        @if(vm.consultation.report_url.isDefined){
                            <div id="final-doc" class="aside-button">
                                <i class="fa fa-file-pdf-o"></i>
                                <a href="@vm.consultation.report_url" target="_blank">Τελική εκθεση</a>
                            </div>
                            }


                        </div>



                    </div>
                </div>
            </div>
        </div>
        <div  class="container">
            <ul id="tabs" class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#consultation-body" aria-controls="consultation-body" role="tab" data-toggle="tab">Συμμετοχή στη διαβούλευση</a></li>
                <li role="presentation"><a href="#relevantLawsList" aria-controls="profile" role="tab" data-toggle="tab">Σχετικοί νόμοι</a></li>
                <li role="presentation"> <a href="/consultation/reporter/@vm.consultation.id" target="_blank">Ανάλυση σχολίων</a></li>
                @*<li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Σύγκριση με τον τελικό νόμο</a></li>*@
            </ul>
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="consultation-body">
                    @for(article <- vm.consultation.articles) {
                        <div data-id="@article.id"  class="row article ">
                            <div class="col-md-12">
                                <div class="title">
                                    <a class="show-hide btn collapsed" data-toggle="collapse" data-target="#body-@article.id"><span>-</span><span>+</span></a>
                                    <span class="article-title-text">@article.title</span>
                                </div>
                                <div id="body-@article.id" class="collapse " style="height:0;" >
                                    <div class="article-body">
                                    @Html(article.body)
                                    </div>
                                    <div class="comment-wrp open-gov skip-ann" data-count="@article.commentsNum"></div>
                                </div>

                            </div>
                        </div>
                    }
                </div>
                <div role="tabpanel" class="tab-pane" id="relevantLawsList">
                    <div class="row">
                        <div class="col-md-12">
                        @if(vm.distinctLaws().length>0) {
                           <h2>@vm.distinctLaws().length αναφορές σε νόμους</h2>
                            <table class="table table-striped table-condensed">
                                <thead><tr>
                                    <th>#</th>
                                    <th>Αναφόρα</th>
                                </tr>
                                </thead>

                                @for(i <- 0 until vm.distinctLaws().length) {
                                    <tr>
                                        <td> @{i+1}</td>
                                        <td>
                                            <a href="@vm.distinctLaws()(i).pdf_url"> @vm.distinctLaws()(i).entity_text</a>
                                        </td>
                                    </tr>
                                }
                            </table>
                        }
                        </div>
                    </div>
                </div>
            </div>
        </div>

    <div class="modal fade" id="toolbar-modal" tabindex="-1" role="dialog" aria-labelledby="annotate-toolbar">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Παρατήρηση/Σχόλιο για το τμήμα κειμένου:</h4>
                </div>
                <div class="modal-body">

                    <div id="toolbar">

                        <form action="@routes.AnnotationController.annotatePost()" method="post">

                            <div>
                                <blockquote></blockquote>
                                @if(vm.user.isDefined) {
                                    <label>Σε ποιό θέμα αναφέρεται το κείμενο;&nbsp;
                                        <i class="fa fa-info-circle"
                                            data-toggle="tooltip"
                                            data-placement="top"
                                            title="βοηθήστε το νομοθέτη θέτωντας tags για το συγκεκριμένο τμήμα κειμένου"></i>
                                        </label>
                                    @if(vm.annotationsRelatedToTopics.length>0) {
                                        <select id="annotationTagTopicId" name="annotationTagTopicId" multiple>
                                        @for(annotation <- vm.annotationsRelatedToTopics) {
                                            <option value="@annotation.id">@annotation.description</option>
                                        }
                                        </select>
                                    }
                                }

                            </div>
                            <div>
                            @if(vm.user.isDefined){

                                <label>Αναγνωρίζεται κάποιο πρόβλημα;
                                    <i class="fa fa-info-circle"
                                    data-toggle="tooltip"
                                    data-placement="top"
                                    title="βοηθήστε το νομοθέτη αναφέροντας προβλήματα"></i>
                                </label>
                                <select id="annotationTagProblemId" name="annotationTagProblemId" multiple>
                                @for(annotation <- vm.annotationsRelatedToProblems){
                                    <option value="@annotation.id">@annotation.description</option>
                                }
                                </select>

                            </div>

                            <div id="comment-wrap">
                                Αφήστε την παρατήρησή/σχόλιο σας:
                                <textarea name="body" placeholder="θα ήθελα να δηλώσω..."></textarea>
                            </div>

                            <input type="hidden" name="articleid" value=""/>
                            <input type="hidden" name="discussionroomannotationtagid" value=""/>


                            } else {
                            <div class="notLoggedinWrapper">
                                <div class="msg"><i class="fa fa-exclamation-triangle"></i><p class="notLoggedText">Για αυτή την ενέργεια χρειάζεται να είστε <a href="/signIn">συνδεδεμένοι</a></p></div>
                            </div>


                        }
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                @if(vm.user.isDefined) {
                    <button id="save-annotation" class="btn blue" type="submit">Καταχώρηση</button>
                }
                    <button class="close btn red" type="button" data-dismiss="modal"  class="btn red" >Κλείσιμο</button>
                </div>
            </div>
        </div>
    </div>


}




