@import model.viewmodels.ConsultationViewModel
@(vm: ConsultationViewModel)

@js = {
    @*<script src="http://rangy.googlecode.com/svn/trunk/currentrelease/rangy-core.js" ></script>*@
      <script src="//tinymce.cachefly.net/4.1/tinymce.min.js"></script>
    <script src="@routes.Assets.at("js/react-with-addons.js")"></script>
    <script src="@routes.Assets.at("js/underscore-min.js")"></script>
    <script src="http://momentjs.com/downloads/moment-with-locales.min.js"></script>
    <script src="@routes.Assets.at("js/classnames.js")" ></script>
    <script src="@routes.Assets.at("js/consultation/commentBox-compiled.js")" ></script>
    <script  src="@routes.Assets.at("js/consultation/index.js")" ></script>
    <script>
     $(function(){
        var controller = new scify.ConsultationIndexPageHandler(@Html(vm.annotationTypesToJson()),
                                                                @vm.consultation.id,
                                                                @Html(if (vm.user.isDefined) "'"+vm.user.get.userID.toString+"'" else "''"),
                                                                @Html(if (vm.user.isDefined) "'"+vm.user.get.fullName.getOrElse("n/a")+"'" else "''"),
                                                                @Html(vm.discussionThreadsToJson()),
                                                                @Html(vm.relevantLawsToJson()),
                                                                Date.parse('@vm.consultation.endDate')
                                                                );
        controller.init();
     })
    </script>
}

@css = {
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("css/consultation/consultation.css")">
    <link rel="stylesheet" href="http://css-spinners.com/css/spinner/spinner.css" type="text/css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
}

@layout("DemocracIT", css, js,None) {


        <div id="header" class="@{if (vm.consultation.isActive) "active" else "inactive"}">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 id="consultation-title">@Html(vm.consultation.title)  <a href="@vm.consultation.opengov_url" title="η διαβούλευση στο open.gov" target="_blank">open.gov</a></h1>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-10">
                        <div id="intro-text" class="message">
                            <h2>Εισαγωγή:</h2>
                            @Html(vm.consultation.shortDescr)
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div id="duration">
                            @if(vm.consultation.isActive) {
                                <span class="consState activeCons">ενεργη</span>
                            } else {
                                <span class="consState inactiveCons">ολοκληρώθηκε</span>
                            }
                            <div class="dates">
                                Αναρτήθηκε
                                <br>
                                @vm.consultation.prettyDateFormat(vm.consultation.startDate)<br>
                                λήξη
                                <br>
                                @vm.consultation.prettyDateFormat(vm.consultation.endDate)
                            </div>
                            Διάρκεια @vm.consultation.totalDurationFormatted

                        </div>
                        <div id="aside">
                        @for(relevantMaterial <- vm.relevantMaterials) {
                            <div class="aside-button">
                                <i class="fa fa-file-pdf-o"></i>
                                <a href="@relevantMaterial.pdf_url" target="_blank"> @relevantMaterial.title</a>
                            </div>
                        }
                            @if(vm.consultation.report_url.isDefined){
                                <div class="aside-button">
                                    <i class="fa fa-file-pdf-o"></i>
                                    <a href="@vm.consultation.report_url" target="_blank"> Εκθεση διαβουλευσης</a>
                                </div>
                                }

                            @if(vm.consultation.report_text.isDefined) {
                                <div  class="aside-button completed">
                                    <i class="fa fa-inbox"></i>
                                    <a href="#" target="_blank"> Αναγγελία ολοκλήρωσης</a>
                                </div>
                            }
                        </div>



                    </div>
                </div>
            </div>
        </div>
        <div  class="container">
                <div id="consulation-articles-summary"  class="row">
                    <div class="col-md-12">
                        <h2>Περιεχόμενο διαβούλευσης</h2>
                    </div>
                </div>
         <div class="row">

             <div class="col-md-6">Περιεχόμενο και σχολιασμός</div>
             <div class="col-md-6">Περιεχόμενο και σχολιασμός</div>

         </div>
                <div id="relevantLawsList" class="row">
                    <div class="col-md-12">

                    @if(vm.distinctLaws().length>0) {
                        Γίνονται @vm.distinctLaws().length αναφορές σε νόμους
                        <table class="table table-striped">
                            <thead><tr>
                                <th>#</th>
                                <th>Αναφόρα</th>
                            </tr>
                            </thead>

                            @for(i <- 0 until vm.distinctLaws().length) {
                                <tr>
                                    <td> @{i+1}</td>
                                    <td>
                                        <a href="@vm.distinctLaws()(i).pdf_url"> @vm.distinctLaws()(i).entity_text</a>
                                    </td>
                                </tr>
                            }
                        </table>
                    }
                    </div>
                </div>
        </div>
        <div class="container">
            <section id="consultation-body">
                @for(article <- vm.consultation.articles) {
                    <div data-id="@article.id"  class="row article ">
                        <div class="col-md-12">
                            <div class="title">
                              <a class="show-hide btn collapsed" data-toggle="collapse" data-target="#body-@article.id"><span>-</span><span>+</span></a>
                              <span class="article-title-text">@article.title</span>
                            </div>
                            <div id="body-@article.id" class="collapse " style="height:0;" >
                                <div class="article-body">
                                    @Html(article.body)
                                </div>
                                <div class="comment-wrp open-gov skip-ann" data-count="@article.commentsNum"></div>
                            </div>

                        </div>
                    </div>
                }
            </section>
            <div id="comment-box-wrp"></div>
        </div>



    <div class="modal fade" id="toolbar-modal" tabindex="-1" role="dialog" aria-labelledby="annotate-toolbar">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Αφήστε το σχόλιο σας:</h4>
                </div>
                <div class="modal-body">
                    <div id="toolbar">

                        <form action="@routes.AnnotationController.annotatePost()" method="post">

                            <div>
                                <blockquote></blockquote>
                            </div>
                            <div>
                            @if(vm.user.isDefined){
                                <hr>
                                <select name="annotationTagId">
                                    <option value="-1">Υπόδειξη προβλήματος:</option>
                                    @for(annotation <- vm.allowedAnnotations){
                                        <option value="@annotation.id">@annotation.description</option>
                                    }
                                </select>
                            </div>


                            <div id="comment-wrap">
                                Έχετε κάποια παρατήρηση:
                                <textarea name="body"></textarea>
                            </div>

                            <input type="hidden" name="articleid" value=""/>
                            <input type="hidden" name="discussionroomannotationtagid" value=""/>


                            } else {
                            <div class="notLoggedinWrapper">
                                <div class="msg"><i class="fa fa-exclamation-triangle"></i><p class="notLoggedText">Για αυτή την ενέργεια χρειάζεται να είστε <a href="/signIn">συνδεδεμένοι</a></p></div>
                            </div>


                        }
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                @if(vm.user.isDefined) {
                    <button id="save-annotation" class="btn blue" type="submit">Καταχώρηση</button>
                }
                    <button class="close btn red" type="button" data-dismiss="modal"  class="btn red" >Κλείσιμο</button>
                </div>
            </div>
        </div>
    </div>

}




