@import model.viewmodels.ConsultationViewModel
@import model.dtos.RelevantLaws
@(vm: ConsultationViewModel)(implicit request: play.api.mvc.Request[Any], messages: Messages)
@js = {
    @*<script src="http://rangy.googlecode.com/svn/trunk/currentrelease/rangy-core.js" ></script>*@
      @*<script src="//tinymce.cachefly.net/4.1/tinymce.min.js"></script>*@

    @*<script src="@routes.Assets.at("js/select2.full.js")"></script>*@

    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.min.js"></script>
    <script src="@routes.Assets.at("js/underscore-min.js")"></script>
    <script src="@routes.Assets.at("js/moment-with-locales.min.js")" ></script>
    <script src="@routes.Assets.at("js/consultation/reporter/d3.layout.cloud.js")"></script>
    <script src="@routes.Assets.at("js/consultation/intro.js")" ></script>
    <script src="@routes.Assets.at("js/consultation/commentLawMatcher-compiled.js")" ></script>
    <script src="@routes.Assets.at("js/consultation/reportComment-compiled.js")" ></script>
    <script src="@routes.Assets.at("js/consultation/commentBox-compiled.js")" ></script>
    <script src="@routes.Assets.at("js/consultation/ReplyBox-compiled.js")" ></script>
    <script src="@routes.Assets.at("js/consultation/scify-tutorialAnnotator.js")" ></script>
    <script src="@routes.Assets.at("js/consultation/scify-annotator.js")" ></script>
    <script src="@routes.Assets.at("js/consultation/scify-commentAnnotator.js")" ></script>
    <script src="@routes.Assets.at("js/consultation/scify-consultationIndexPageHandler.js")" ></script>
    <script src="@routes.Assets.at("js/consultation/reporter/wordCloud-compiled.js")" ></script>
    <script src="@routes.Assets.at("js/consultation/dropzone.js")"></script>
    <script>
     $(function(){
         var controller = new scify.ConsultationIndexPageHandler(@vm.consultation.id,
                 @Html(vm.getGeneralMessages(messages)),
                 @Html(vm.getCommentBoxMessages(messages)),
                 @Html(vm.getCommentAnnotatorMessages(messages)),
                 @Html(vm.getTutorialAnnotatorMessages(messages)),
                 '@if(vm.finalLaw.isDefined){@vm.finalLaw.get.id}',
                 @Html(vm.ratingUsersToJson()),
                 '@if(vm.finalLaw.isDefined){@vm.finalLaw.get.user_id}',
                 @Html(if (vm.user.isDefined) "'"+vm.user.get.userID.toString+"'" else "''"),
                 @Html(if (vm.user.isDefined) "'"+vm.user.get.fullName.getOrElse("n/a")+"'" else "''"),
                 @Html(vm.discussionThreadsToJson()),
                 @Html(vm.relevantLawsToJson()),
                 @Html(vm.consultation.isActive.toString),
                 '@routes.Assets.at("images")',
                 '@play.Play.application().configuration().getString("application.state")',
                 Date.parse('@vm.consultation.endDate')
         );
        controller.init();
     })
    </script>
}

@css = {
    <link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("css/consultation/consultation.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("css/consultation/introjs.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("css/consultation/dropzone.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("css/consultation/themes/introjs-nassim.css")">

}

@layout("DemocracIT", css, js,vm.user) {

        @consultation.consultationHeader(vm.consultation,vm.relevantMaterials)

        <div  class="container">
            <ul id="tabs" class="nav nav-tabs" role="tablist">
                @defining(if (vm.consultation.isActive) messages("consultation.index.participation") else messages("consultation.index.articles")) { consultationArticlesTabTitle=>
                    <li role="presentation" class="active" id="step1"><a href="#consultation-body" aria-controls="consultation-body" role="tab" data-toggle="tab">@consultationArticlesTabTitle</a></li>
                }
                <li role="presentation"><a href="#relevantLawsList" aria-controls="profile" role="tab" data-toggle="tab">@messages("consultation.index.relatedlaws")</a></li>
                <li role="presentation"> <a href="@routes.ConsultationController.getReporterPage(vm.consultation.id)" target="_blank">@messages("consultation.index.commentanalysis")</a></li>
                @if(!vm.consultation.isActive){<li id="finalLawLink" role="presentation" class="finalLawLi">
                    <a href="#finalLaw" aria-controls="profile" role="tab" data-toggle="tab">@messages("consultation.index.finallaw")</a></li>}
            </ul>
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="consultation-body">
                    <div class="sub-toolbar clearfix">
                        <div id="tutorial"><a>@messages("consultation.index.tutorial")</a></div>
                        <div id="consWordCloud"><button class="wordCloudBtn" type="button" data-toggle="modal" data-target="#consWordCloudModal">@messages("consultation.index.wordcloud")</button></div>
                    </div>
                        <!-- Modal -->
                    <div id="consWordCloudModal" class="modal fade" role="dialog">
                        <div class="modal-dialog">
                                <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">@messages("consultation.index.wordcloud.text.1")</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="explanation"><p>@messages("consultation.index.wordcloud.text.2")</p></div>
                                    <div id="wordCloudDiv">
                                    </div>
                                    <div id="wordCloudChart"></div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                            </div>

                        </div>
                    </div>
                    @for(article <- vm.consultation.articles) {
                        <div data-id="@article.id"  class="row article" id="article_@article.id">
                            <div class="col-md-12">
                                <div class="title">
                                    <a class="show-hide btn collapsed" data-toggle="collapse" data-target="#body-@article.id"><span>@messages("close")</span><span>@messages("open")</span></a>
                                    <span class="article-title-text">@article.title</span>
                                    <span class="shareSpan shareArticleHidden">@messages("consultation.index.copylink")<br></span>
                                    <span class="shareBtn" id="share-@article.id" title='@messages("consultation.index.articlelink")'>
                                        <i class="fa fa-link"></i>
                                    </span>
                                </div>
                                <div id="body-@article.id" class="collapse" style="height:0;">
                                    <div class="comment-wrp open-gov skip-ann" data-count="@article.commentsNum"></div>
                                    <div class="article-body">
                                    @Html(article.body)
                                    </div>

                                </div>

                            </div>
                        </div>
                    }
                </div>
                <div role="tabpanel" class="tab-pane" id="relevantLawsList">
                    <br><br>
                    In case the consultation refers to <strong>laws</strong>, Democracit is able to <strong>identify </strong>them and <strong>convert</strong> them
                    to <strong>downloadable links</strong>.
                    <br><br>

                        These laws are presented as <strong>links </strong> inside the consultation's text
                        (see an example <a href="http://democracit.org/consultation/3981#articleid=81695" target="_blank">here</a>,
                                                and are also presented in summary below:
                        <br><br><br>


                    <img src="@routes.Assets.at("images/demo/lawMentions.jpg")">
                    <br><br><br>

                    Demo image taken from <a href="http://www.democracit.org/consultation/reporter/3981" target="_blank">DemocracIt for open consultation process in Greece</a>

                </div>
                <div role="tabpanel" class="tab-pane" id="finalLaw">
                    @if(vm.finalLaw.isEmpty) {
                        @if(vm.user.isDefined) {
                            <div class="notLoggedIn info">
                                @messages("consultation.index.nolaw.yet")</div>
                            <form class="dropzone" id="finalLawDropZone"></form>

                        } else {
                            <div class="notLoggedIn info">
                                @messages("consultation.index.uploadfinal")</div>
                        }
                    } else {
                        <div class="finalLaw">
                            @if(vm.user.isDefined) {
                                @if(vm.finalLaw.get.user_id.toString.equals(vm.user.get.userID.toString)) {
                                    <div class="title marginBottom" id="deleteLaw">
                                        @Html(messages("consultation.finallaw.delete", "<a id=\"deleteFinalLaw\">", "</a></div>"))
                                }
                            }
                            <div class="title">@messages("consultation.index.compare")</div>
                            <div class="container">
                                <button id="finalLawModalBtn" class="finalLawBtn" type="button" data-toggle="modal" data-target="#finalLawModal">@messages("compare")</button>
                            </div>
                        </div>
                        <div id="finalLawModal" class="modal fade" role="dialog">
                            <div class="modal-dialog">
                                    <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">@messages("consultation.index.hint")</h4>
                                    </div>
                                    <div class="modal-body">
                                        <div class="container">
                                            <div id="consultationTextDiv">
                                                <div class="consultationText">
                                                    @for(article <- vm.consultation.articles) {
                                                        <div  class="row article">
                                                            <div class="">
                                                                <div class="title">
                                                                    <a class="show-hide btn collapsed" data-toggle="collapse" data-target="#finalLawBody-@article.id"><span>@messages("close")</span><span>@messages("open")</span></a>
                                                                    <span class="article-title">@article.title</span>
                                                                </div>
                                                                <div id="finalLawBody-@article.id" class="collapse" style="height:0;" >
                                                                    <div class="">
                                                                        @Html(article.body)
                                                                    </div>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    }
                                                </div>
                                            </div>
                                            <div id="finalLawDiv">
                                                <div class="stats">
                                                    <div id="rateApprove" class="statRow"><a class="rateFinalLaw">@messages("consultation.index.approve") <i class="fa fa-thumbs-o-up"></i></a> (<span class="counter">@vm.finalLaw.get.num_of_approvals</span>)</div>
                                                    <div id="rateDisapprove" class="statRow"><a class="rateFinalLaw">@messages("consultation.index.disapprove") <i class="fa fa-thumbs-o-down"></i></a> (<span class="counter">@vm.finalLaw.get.num_of_dissaprovals</span>)</div>
                                                    <button class="noRateBtn" type="button" data-toggle="modal" data-target="#noRateModal"></button>
                                                </div>
                                                @Html(vm.finalLaw.get.file_text)
                                                <div id="noRateModal" class="modal fade consFinalLawModal" role="dialog">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <button type="button" class="close" id="closeInnerModal" onclick="closeInnerModal()">&times;</button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <div class="notLoggedinWrapper">
                                                                    <div class="msg"><i class="fa fa-exclamation-triangle"></i><p class="notLoggedText">@Html(messages("notlogedintext","<a href=\"/signIn?returnUrl=@request.uri\">","</a>"))</p></div>
                                                                </div>
                                                            </div>

                                                            <div class="modal-footer">
                                                                <button class="close btn red" type="button" id="closeInnerModal"  class="btn red" onclick="closeInnerModal()">@messages("closebtn")</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <script>
                                                    closeInnerModal = function(){
                                                        $("#noRateModal").modal('hide')
                                                    }
                                                </script>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">@messages("close")</button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    }
                    <div class="finalLawExplanation">
                        <button class="finalLawBtn finalLawExplanationBtn" type="button" data-toggle="modal" data-target="#finalLawExplanationModal">@messages("explain")</button>
                        <div id="finalLawExplanationModal" class="modal fade consFinalLawModal" role="dialog">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title">@messages("consultation.explain.header")@messages("consultation.explain.header") <i class="fa fa-question-circle"></i></h4>
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="msg"><div class="number">1</div>@messages("consultation.explain.1")<br><br>
                                            <div class="number">2</div>@messages("consultation.explain.2")<br><br>
                                            <div class="number">3</div>@messages("consultation.explain.3")
                                        </div>
                                    </div>

                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">@messages("close")</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    @if(vm.finalLaw.isDefined) {
                        <div class="finalLawFileContent">
                            <div>
                                <object data="@vm.getFinalLawRelativePath()" type="application/pdf" width="100%" height="800">
                                    @Html(messages("consultation.finallaw.seetext", "<a href=\"@vm.getFinalLawRelativePath()\">", "</a>"))
                                </object>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>


    <div id="commentLawMatcher">

    </div>

    <div id="reportComment">

    </div>
    @common.annotationToolbar(vm.user,vm.annotationsRelatedToProblems,vm.annotationsRelatedToTopics, vm.consultation.opengov_url)

}




