@import model.viewmodels.ReporterViewModel
@(vm: ReporterViewModel)

@js = {
    @*<script src="http://rangy.googlecode.com/svn/trunk/currentrelease/rangy-core.js" ></script>*@
      @*<script src="//tinymce.cachefly.net/4.1/tinymce.min.js"></script>*@
    @*<script src="@routes.Assets.at("js/select2.full.js")"></script>*@

    <script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.min.js"></script>
    <script src="@routes.Assets.at("js/underscore-min.js")"></script>
    <script src="http://momentjs.com/downloads/moment-with-locales.min.js"></script>
    <script src="@routes.Assets.at("js/classnames.js")" ></script>
    <script src="@routes.Assets.at("js/consultation/commentBox-compiled.js")" ></script>
    <script src="@routes.Assets.at("js/consultation/reporter/userBox-compiled.js")" ></script>
    <script src="@routes.Assets.at("js/consultation/reporter/commentList-compiled.js")" ></script>
    <script  src="@routes.Assets.at("js/consultation/reporter/scify-consultationReporterPageHandler.js")" ></script>
    <script src="http://d3js.org/d3.v3.min.js"  charset="utf-8"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi?autoload=
{'modules':[{'name':'visualization','version':'1.1','packages':
['corechart']}]}"></script>
    <script>
     $(function(){
        var controller = new scify.ConsultationReporterPageHandler(@vm.consultation.id,
                                                                @Html(if (vm.user.isDefined) "'"+vm.user.get.userID.toString+"'" else "''"),
                                                                @Html(if (vm.user.isDefined) "'"+vm.user.get.fullName.getOrElse("n/a")+"'" else "''"),
                                                                @Html(vm.commentsPerArticleToJson()),
                                                                @Html(vm.annotationsForConsultationToJson(1)),
                                                                @Html(vm.annotationsForConsultationToJson(2)),
                                                                @Html(vm.annotationsPerArticleToJson(1)),
                                                                @Html(vm.annotationsPerArticleToJson(2)), @Html(vm.userCommentStatsToJson()),
                                                                Date.parse('@vm.consultation.endDate')
                                                                );
        controller.init();
     })
    </script>
}

@css = {
    <link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="http://css-spinners.com/css/spinner/spinner.css" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <link rel="stylesheet" media="screen" href="@routes.Assets.at("css/consultation/reporter/reporter.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("css/consultation/consultation.css")">
}

@layout("DemocracIT", css, js,None) {

        @consultation.consultationHeader(vm.consultation,vm.relevantMaterials)
        <div  class="container">
            <ul id="tabs" class="nav nav-tabs" role="tablist">
                <li role="presentation"><a href="@routes.ConsultationController.getConsultation(vm.consultation.id)">Συμμετοχή στη διαβούλευση</a></li>
                <li role="presentation"><a href="#relevantLawsList" aria-controls="profile" role="tab" data-toggle="tab">Σχετικοί νόμοι</a></li>

                <li role="presentation" class="active"> <a href="#annotatorContent" aria-controls="annotatorContent" role="tab" data-toggle="tab">Ανάλυση σχολίων</a></li>
                @*<li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Σύγκριση με τον τελικό νόμο</a></li>*@
            </ul>
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="annotatorContent">
                    <ul class="statsBar nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"> <a href="#commentsPerArticleChart" aria-controls="commentsPerArticleChart" role="tab" data-toggle="tab">Σχόλια ανά άρθρο</a></li>
                        <li role="presentation"> <a href="#annotationsForConsultationChart" aria-controls="annotationsForConsultationChart" role="tab" data-toggle="tab">Θέματα</a></li>
                        <li role="presentation"> <a href="#annotationProblemsForConsultationChart" aria-controls="annotationProblemsForConsultationChart" role="tab" data-toggle="tab">Προβλήματα</a></li>
                        <li role="presentation"> <a href="#annotationsPerArticleChart" aria-controls="annotationsPerArticleChart" role="tab" data-toggle="tab">Θέματα ανά άρθρο</a></li>
                        <li role="presentation"> <a href="#annotationProblemsPerArticleChart" aria-controls="annotationProblemsPerArticleChart" role="tab" data-toggle="tab">Προβλήματα ανά άρθρο</a></li>
                        <li role="presentation"> <a href="#userStatsTab" aria-controls="userStatsTab" role="tab" data-toggle="tab">Στατιστικά χρηστών</a></li>
                        <li role="presentation"> <a href="#userStatsDownloadTab" aria-controls="userStatsDownloadTab" role="tab" data-toggle="tab">Κατέβασμα Σχολίων</a></li>
                    </ul>
                    <div class="tab-content stats" id="statsDiv">
                        <div role="tabpanel" class="tab-pane active" id="commentsPerArticleChart"><div class="commentsPerArticleChart chart" id="commentsPerArticleInnerChart"></div>
                            @if(vm.commentsPerArticle.isEmpty) {
                                <div class="noStats">Δεν υπάρχουν δεδομένα.</div>
                            } else {
                                <ul class="commentsTabs nav nav-tabs" role="tablist" style="display : none">
                                    <li role="presentation" class="active"><a href="#commentsOpenGov" aria-controls="commentsOpenGov" role="tab" data-toggle="tab">
                                        Σχόλια OpenGov</a></li>
                                    <li role="presentation"><a href="#commentsDIT" aria-controls="commentsDIT" role="tab" data-toggle="tab">
                                        Σχόλια Democracit</a></li>
                                </ul>
                                <div class="tab-content">
                                    <div role="tabpanel" class="tab-pane active" id="commentsOpenGov">
                                    </div>
                                    <div role="tabpanel" class="tab-pane" id="commentsDIT">
                                    </div>
                                </div>
                            }
                        </div>
                        <div role="tabpanel" class="tab-pane annotationsForConsultationChart chart" id="annotationsForConsultationChart">
                            <div id="annotationsForConsultationInnerChart"></div>
                            @if(vm.getAnnotationsForConsultation(1).isEmpty) {
                                <div class="noStats">Δεν υπάρχουν δεδομένα.</div>
                            } else {
                                <div id="commentsPerAnnId"></div>
                            }
                        </div>
                        <div role="tabpanel" class="tab-pane annotationProblemsForConsultationChart chart" id="annotationProblemsForConsultationChart">
                            <div id="annotationProblemsForConsultationInnerChart"></div>
                            @if(vm.getAnnotationsForConsultation(2).isEmpty) {
                                <div class="noStats">Δεν υπάρχουν δεδομένα.</div>
                            } else {
                                <div id="commentsPerProblemId"></div>
                            }
                        </div>
                        <div role="tabpanel" class="tab-pane annotationsPerArticleChart chart" id="annotationsPerArticleChart">
                            <div id="annotationsPerArticleInnerChart"></div>
                            @if(vm.getAnnotationsPerArticle(1).isEmpty) {
                                <div class="noStats">Δεν υπάρχουν δεδομένα.</div>
                            } else {
                                <div id="commentsPerAnnIdPerArticle"></div>
                            }
                        </div>
                        <div role="tabpanel" class="tab-pane annotationProblemsPerArticleChart chart" id="annotationProblemsPerArticleChart">
                            <div id="annotationProblemsPerArticleInnerChart"></div>
                            @if(vm.getAnnotationsPerArticle(1).isEmpty) {
                                <div class="noStats">Δεν υπάρχουν δεδομένα.</div>
                            } else {
                                <div id="commentsPerProblemIdPerArticle"></div>
                            }
                        </div>
                        <div role="tabpanel" class="tab-pane userStatsTab chart" id="userStatsTab">
                            @if(vm.userCommentStats.isEmpty) {
                                <div class="noStats">Δεν υπάρχουν δεδομένα.</div>
                            } else {
                                <table class="table table-striped table-condensed" style="margin-top: 30px">
                                    <thead><tr>
                                        <th>Πληροφορίες Χρήστη</th>
                                        <th>Αριθμός Σχολίων</th>
                                    </tr>
                                    </thead>
                                    @for(userComments <- vm.userCommentStats) {
                                        <div data-id="@userComments.user_id" class="statsForUser" data-count="@userComments.number_of_comments">
                                            <tr>
                                                <td class="articleName">
                                                    @*<div>@userComments.first_name  @userComments.last_name (@userComments.role)<div class="userBoxDiv" id="box_@userComments.user_id"></div></div>*@
                                                <div id="box_@userComments.user_id" class="comment-wrp commentBox"></div>
                                                </td>
                                                <td class="commentsNum">
                                                @userComments.number_of_comments
                                                </td>
                                            </tr>

                                        </div>
                                    }

                                </table>
                            }
                        </div>
                        <div role="tabpanel" class="tab-pane userStatsDownloadTab" id="userStatsDownloadTab">
                            <ul class="downloadStats">
                                <li><a href="/comments/cons/opengov/retrieve/csv/@vm.consultation.id"><i class="fa fa-download"></i>Κατεβάστε τα σχόλια για τη διαβούλευση από το opengov σε .csv αρχείο</a></li>
                                <li><a href="/comments/cons/dit/retrieve/csv/@vm.consultation.id"><i class="fa fa-download"></i>Κατεβάστε τα σχόλια για τη διαβούλευση από το Democracit σε .csv αρχείο</a></li>
                                <li><a href="/comments/cons/ann/retrieve/csv/@vm.consultation.id"><i class="fa fa-download"></i>Κατεβάστε τον αριθμό σχολίων ανά θέμα για τη διαβούλευση σε .csv αρχείο</a></li>
                                <li><a href="/comments/cons/problems/retrieve/csv/@vm.consultation.id"><i class="fa fa-download"></i>Κατεβάστε τον αριθμό σχολίων ανά προτεινόμενο πρόβλημα για τη διαβούλευση σε .csv αρχείο</a></li>
                            </ul>
                        </div>
                    </div>

                </div>
                <div role="tabpanel" class="tab-pane" id="relevantLawsList">
                    <div class="row">
                        <div class="col-md-12">
                        @if(!vm.relevantLaws.isEmpty) {
                            @defining(vm.groupLaws()) { groupLaws =>
                                @if(groupLaws.length > 0) {
                                    <h2>@groupLaws.length αναφορές σε νόμους</h2>
                                    <table class="table table-striped table-condensed">
                                        <thead><tr>
                                            <th>#</th>
                                            <th>Αναφορά</th>
                                            <th>Περιγραφή</th>
                                        </tr>
                                        </thead>

                                        @for(i <- 0 until groupLaws.length) {
                                            <tr>
                                                <td style="width : 10 px"> @{
                                                    i + 1
                                                }</td>
                                                <td style="width : 150 px">
                                                    <a href="@groupLaws(i)._2.head.pdf_url">@groupLaws(i)._1</a>
                                                </td>
                                                <td class="relevantLaw">
                                                    <div id="@i">
                                                        @if(vm.findOccurances(groupLaws(i)._1) == 1) {Βρέθηκε} else {Βρέθηκαν} <a class="relevantLawsBtn" id="@i">@utils.Pluralizer.get(vm.findOccurances(groupLaws(i)._1), "αναφορά", "αναφορές")</a>
                                                        σε @vm.articlesOccurances(groupLaws(i)._1) @if(vm.articlesOccurances(groupLaws(i)._1) == 1) {άρθρο} else {άρθρα}
                                                    <div class="childLaws">
                                                    @for(law <- groupLaws(i)._2) {
                                                        <a class="childLaw" href="@law.pdf_url">@law.entity_text</a>
                                                        (@vm.articleNameTrimmed(law.article_title))
                                                    }
                                                    </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        }
                                    </table>
                                }
                            }
                        } else {
                            <div class="noStats">Αυτή ή διαβούλευση δεν περιέχει σχετικούς νόμους.</div>
                        }
                        </div>
                    </div>
                </div>

            </div>
        </div>


}




