@import play.api.libs.json.JsValue
@(query: String, consultationsJson: JsValue)

@js = {
    <script src="@routes.Assets.at("js/consultation/scify-consultationSearchPageHandler.js")" ></script>
    <script>
        var c= new scify.ConsultationSearchPageHandler('@consultationsJson')
        c.init();
    </script>
}

@css = {
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("css/consultation/consultation.css")">
}

@layout("DemocracIT", css, js,None) {

    <div id="search-container">

    </div>
}



