@(viewmodel: model.viewmodels.HomeViewModel)
@js = {
    <script src="@routes.Assets.at("js/home/consultation-search-compiled.js")" ></script>
    <script src="@routes.Assets.at("js/home/scify-homePageHandler.js")" ></script>
    <script>
        var c = new scify.HomePageHandler('@routes.ConsultationController.search()');
        c.init();
    </script>
}
@css = {
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("css/home/index.css")">
}

@layout("Αρχική", css, js, viewmodel.user) {

    <div id="democracit">
        <div class="mask">
            <div class="container">
                <h1>Βελτιώνουμε τη διαδικασία της ανοικτής διαβούλευσης</h1>
                <h2>Σύγχρονα εργαλεία στην υπηρεσία των πολιτών</h2>
            </div>
        </div>
    </div>
    <div id="faq">
        <div class="carousel slide">
            <div class="carousel-inner">
                <div class="item active">
                    <div class="carousel-caption">
                        <a href="http://about.democracit.org/frequently-asked-questions#question-1" target="_blank">Τί επιτυγχάνει το DemocracIT;</a>
                    </div>
                </div>
                <div class="item">
                    <div class="carousel-caption">
                        <a href="http://about.democracit.org/frequently-asked-questions#question-2" target="_blank">Τί σημαίνει ανοικτή διαβούλευση;</a>
                    </div>
                </div>
                <div class="item">
                    <div class="carousel-caption">
                        <a href="http://about.democracit.org/frequently-asked-questions#question-3" target="_blank">Πώς μπορώ να συνεισφέρω;</a>
                    </div>
                </div>
                <div class="item">
                    <div class="carousel-caption">
                        <a href="http://about.democracit.org/frequently-asked-questions#question-4" target="_blank">Σε τι διαφέρει το DemocracIT απο την επίσημη ιστοσελίδα του Opengov.gr;</a>
                    </div>
                </div>
            </div>
         </div>
    </div>
    <div id="platform-stats" class="container">
        <div class="row">
            <div class="total col-md-4">
                <div id="consultation-stats" class="wrp collapsed" data-target="#consultation-distr" data-parent="#platform-stats" data-toggle="collapse">
                    @viewmodel.stats.totalConsultations
                    <br>
                    διαβουλεύσεις
                </div>
            </div>
            <div class="total col-md-4">
                <div id="comments-stats" class="wrp collapsed" data-target="#comments-distr" data-parent="#platform-stats" data-toggle="collapse">
                    Μέσος αριθμός σχολίων
                    <br>
                    @viewmodel.stats.medianAverageCommentsPerConsultations
                </div>
            </div>
            <div class=" total col-md-4">
                <div id="duration-stats" class="wrp collapsed" data-target="#duration-distr" data-parent="#platform-stats" data-toggle="collapse">
                    Μέση διάρκεια διαβούλευσης
                    <br>
                    @viewmodel.stats.medianAverageDaysPerConsultation ημερες
                </div>
            </div>
        </div>

        <div class="panel">
            <div id="consultation-distr" class="row collapse">
                <h2>Αριθμός διαβουλεύσεων</h2>
                @for(orgs <- viewmodel.stats.organizationsPerCategory) {
                    <div class="organization-group col-md-4">

                        <label>@orgs.category</label>
                        <table class="table table-striped table-condensed">

                        @for(stat <- orgs.stats) {
                            <tr>
                                <td>@stat.title</td>
                                <td>
                                    <a href="@routes.ConsultationController.search()?ministryId=@stat.id">
                                        @stat.consultationCount

                                        @if(stat.activeConsultations > 0) {
                                            <br>
                                            <span class="active">
                                                @stat.activeConsultations @if(stat.activeConsultations == 1) {
                                                ενεργή } else { ενεργές }
                                            </span>
                                        }
                                    </a>
                                </td>
                            </tr>
                        }
                        </table>
                    </div>
                }
            </div>
        </div>
        <div class="panel">
            <div id="comments-distr" class="row collapse">
                <h2>Αριθμός σχολίων σε κάθε διαβούλευση (μέσος όρος)</h2>
                @for(orgs <- viewmodel.stats.organizationsPerCategory) {
                    <div class="organization-group col-md-4">

                        <label>@orgs.category</label>
                        <table class="table table-striped table-condensed">

                        @for(stat <- orgs.stats) {
                            <tr>
                                <td>@stat.title</td>
                                <td>@stat.medianAverageComments <br> σχόλια</td>
                            </tr>
                        }
                        </table>
                    </div>
                }
            </div>
        </div>
        <div class="panel">
            <div id="duration-distr" class="row collapse">
                <h2>Διάρκεια διαβουλεύσης (μέσος όρος)</h2>
                @for(orgs <- viewmodel.stats.organizationsPerCategory) {
                    <div class="organization-group col-md-4">

                        <label>@orgs.category</label>
                        <table class="table table-striped table-condensed">

                        @for(stat <- orgs.stats) {
                            <tr>
                                <td>@stat.title</td>
                                <td>@stat.medianAverageDays <br> ημέρες</td>
                            </tr>
                        }
                        </table>
                    </div>
                }
            </div>
        </div>

    </div>
    @* common.searchbox() *@
    <div id="search-wrapper"></div>


    <div id="consultations">
        <div class="container">
            <div id="in-progress">
                <h2>Σε εξέλιξη:</h2>
                @displayConsultation(viewmodel.activeConsultations, "λήξη")
            </div>
            <hr/>
            <div id="recent">
                <h2>Έκλεισαν πρόσφατα:</h2>
                @displayConsultation(viewmodel.recentConsultations, "έληξε")
            </div>
        </div>
    </div>
}

@displayUser(user: model.User) = {
    <div class="user col-md-6 col-md-offset-3">
        <div class="row">
            <hr class="col-md-12" />
            <h4 class="col-md-8">Welcome, you are now signed in!</h4>
            <div class="col-md-4 text-right">
                <img src="@user.avatarURL.getOrElse(routes.Assets.at("images/silhouette.png"))" style="height : 40 px ;" />
            </div>
            <hr class="col-md-12" />
        </div>
        <div class="row data">
            <div class="col-md-12">
                <div class="row">
                    <p class="col-md-6"><strong>
                        First name:</strong></p><p class="col-md-6">@user.firstName.getOrElse("None")</p>
                </div>
                <div class="row">
                    <p class="col-md-6"><strong>
                        Last name:</strong></p><p class="col-md-6">@user.lastName.getOrElse("None")</p>
                </div>
                <div class="row">
                    <p class="col-md-6"><strong>
                        Full name:</strong></p><p class="col-md-6">@user.fullName.getOrElse("None")</p>
                </div>
                <div class="row">
                    <p class="col-md-6"><strong>Email:</strong></p><p class="col-md-6">@user.email.getOrElse("None")</p>
                </div>
            </div>
        </div>
    </div>
}

@displayConsultation(consultations: List[model.dtos.Consultation], label: String) = {

@if(consultations.length == 0) {
    <div class="empty">
        Δεν υπάρχει ανοικτή διαβούλευση αυτή τη στιγμή
    </div>
}

@for(cons <- consultations) {
    <div class="consultation">
        <a href="@routes.ConsultationController.getConsultation(cons.id)">@Html(cons.title)</a>
        <br>
        <span class="duration">@label: @cons.endDateFormatted | διάρκεια @cons.totalDurationFormatted</span>
    </div>
}
}

