@(viewmodel: model.viewmodels.HomeViewModel)(implicit messages :Messages)
@js = {
    <script src="@routes.Assets.at("js/home/consultation-search-compiled.js")" ></script>
    <script src="@routes.Assets.at("js/home/scify-homePageHandler.js")" ></script>
    <script>
        var c = new scify.HomePageHandler('@routes.ConsultationController.search()' ,
                    {
                        searchPlaceHolder: '@Html(messages("index.search.placeholder"))',
                        clickToDisplayAll:'@Html(messages("index.search.displayall"))',
                        results:'@Html(messages("index.search.results"))',
                        noresults:'@Html(messages("index.search.noresults"))'

                    });
        c.init();
    </script>
}
@css = {
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("css/home/index.css")">
}

@layout(messages("homepage"), css, js, viewmodel.user) {


    <section class="promo">
        <h1>DemocracIT: Consultations made effective</h1>
        <h2>Let people be heard</h2>
        <p><a href="https://github.com/scify/?query=democracit" target="_blank">Open source</a> | Free | Easily customized</p>
        @*<a href="#">try the demo app below</a> and*@
        @*<a href="#" class='request'>install it on your premises</a>*@
    </section>

    <section class="promo-section" id="key-features">
        <div class="container">
            <h2>How does DemocracIT stands out?</h2>
            <div class="row">
                <div class="col-md-4">
                    <h3>&#10004; Easier contributions</h3>
                    <p> - <strong>Comment</strong> on specific <strong>sentences</strong>
                        <br>
                        - Indicate <strong>problems</strong> in a <strong>structured</strong> way <br>
                        - Express <strong>support/disagreement</strong>
                    </p>



                </div>
                <div class="col-md-4">
                    <h3>&#10004; Powerful analytics</h3>
                    <p><strong>Visualization</strong> and <strong>reports</strong> can help you <strong>understand</strong> what users are saying.</p>
                </div>
                <div class="col-md-4">
                    <h3>&#10004; Scalable and open</h3>
                    <p>
                        Our technology stack can support <strong>million</strong> of comments. You can <strong>install it in your premises</strong> or we can <strong>host it for you</strong>. <a data-event="contact" href="http://www.scify.gr/site/en/contact/" target="_blank">contact us</a>
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section class="promo-section" id="more-info">
        <div class="container">
            <h2> Want to know more?</h2>

            <div class="row">
                <div class="col-md-4">
                    <h4>Try the demo!</h4>
                    <p>Login, select a consultation and check how it works</p>
                    <a class="login-btn" href="http://demo.democracit.org@routes.AccountController.signIn(None)">click here to login</a>
                </div>
                <div class="col-md-4">
                    <h4>Request more info</h4>
                    <p>
                        DemocracIT is free to download and install.<br>
                        Want to know more?
                    </p>
                    <a data-event="contact"  class="contact-btn" href="http://www.scify.gr/site/en/contact" target="_blank">contact us</a>
                </div>
                <div class="col-md-4">
                    <h4>We can help you:</h4>
                        <ul>
                            <li>&#10004; integrate democracit into your <strong>premises</strong></li>
                            <li>&#10004;<strong> host democracit for you</strong></li>
                             <li>&#10004; implement new features to suit your needs</li>
                        </ul>
                </div>
            </div>
        </div>
    </section>
    <section id="mission" class="promo-section">
        <div class="container">
        <h2>About</h2>
            <h4 class="moto">
                We are on a mission to <strong>improve citizen participation</strong> in democratic processes.
            </h4>
           <div class="row">
                <div class="col-md-2">
                     <a href="http://www.scify.gr/site/en"><img src="@routes.Assets.at("/images/demo/scify_logo.png")"/></a>
                </div>
                <div class="col-md-10 text-left">
                    <p>SciFY is a not for profit organization that <br> develops cutting-edge information technology systems and freely offers them to everyone.</p>
                    <p>DemocracIT, like democracy it-self, started in Greece and <br> now we are ready to expand world-wide.</p>
                    <a data-event="contact"  class="contact-btn blue" href="http://www.scify.gr/site/en/contact/" target="_blank">Be the first to apply for your country!</a>
                </div>
            </div>
        </div>
    </section>

    @if(play.Play.application().configuration().getBoolean("application.ui.menu.displaycms")) {
        <div id="faq">
            <div class="carousel slide">
                <div class="carousel-inner">
                    <div class="item active">
                        <div class="carousel-caption">
                            <a href="http://about.democracit.org/frequently-asked-questions#question-1" target="_blank">@messages("index.faq.1")</a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="carousel-caption">
                            <a href="http://about.democracit.org/frequently-asked-questions#question-2" target="_blank">@messages("index.faq.2")</a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="carousel-caption">
                            <a href="http://about.democracit.org/frequently-asked-questions#question-3" target="_blank">@messages("index.faq.3")</a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="carousel-caption">
                            <a href="http://about.democracit.org/frequently-asked-questions#question-4" target="_blank">@messages("index.faq.4")</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

    <div class="democracit-demo show">
        <div class="mask">
            <div class="container">
                <i class="fa fa-info"></i>
                Section below is a demo | Interested into integrating DemocracIT in your company? <strong><a data-event="contact"  href="http://www.scify.gr/site/en/contact" target="_blank">contact us</a></strong>
            </div>
        </div>
    </div>

    <div id="platform-stats" class="container">
        <div class="row">
            <div class="total col-md-4">
                <div id="consultation-stats" class="wrp collapsed" data-target="#consultation-distr" data-parent="#platform-stats" data-toggle="collapse">
                    @viewmodel.stats.totalConsultations
                    <br>
                    @messages("index.consultations")
                </div>
            </div>
            <div class="total col-md-4">
                <div id="comments-stats" class="wrp collapsed" data-target="#comments-distr" data-parent="#platform-stats" data-toggle="collapse">
                    @messages("index.average")
                    <br>
                    @viewmodel.stats.medianAverageCommentsPerConsultations
                </div>
            </div>
            <div class=" total col-md-4">
                <div id="duration-stats" class="wrp collapsed" data-target="#duration-distr" data-parent="#platform-stats" data-toggle="collapse">
                    @messages("index.duration")
                    <br>
                    @viewmodel.stats.medianAverageDaysPerConsultation @messages("index.days")
                </div>
            </div>
        </div>



        <div class="panel">
            <div id="consultation-distr" class="row collapse">
                <h2>@messages("index.number")</h2>
                @for(orgs <- viewmodel.stats.organizationsPerCategory) {
                    <div class="organization-group col-md-4">

                        <label>@orgs.category</label>
                        <table class="table table-striped table-condensed">

                        @for(stat <- orgs.stats) {
                            <tr>
                                <td>@stat.title</td>
                                <td>
                                    @*<a href="@routes.ConsultationController.search()?ministryId=@stat.id">*@
                                        @stat.consultationCount

                                        @if(stat.activeConsultations > 0) {
                                            <br>
                                            <span class="active">
                                                @stat.activeConsultations @if(stat.activeConsultations == 1) {
                                                @messages("index.active") } else { @messages("index.active.plural") }
                                            </span>
                                        }
                                    @*</a>*@
                                </td>
                            </tr>
                        }
                        </table>
                    </div>
                }
            </div>
        </div>
        <div class="panel">
            <div id="comments-distr" class="row collapse">
                <h2>@messages("index.comments.avnumber")</h2>
                @for(orgs <- viewmodel.stats.organizationsPerCategory) {
                    <div class="organization-group col-md-4">

                        <label>@orgs.category</label>
                        <table class="table table-striped table-condensed">

                        @for(stat <- orgs.stats) {
                            <tr>
                                <td>@stat.title</td>
                                <td>@stat.medianAverageComments <br> @messages("index.comments")</td>
                            </tr>
                        }
                        </table>
                    </div>
                }
            </div>
        </div>
        <div class="panel">
            <div id="duration-distr" class="row collapse">
                <h2>@messages("index.duration.average")</h2>
                @for(orgs <- viewmodel.stats.organizationsPerCategory) {
                    <div class="organization-group col-md-4">

                        <label>@orgs.category</label>
                        <table class="table table-striped table-condensed">

                        @for(stat <- orgs.stats) {
                            <tr>
                                <td>@stat.title</td>
                                <td>@stat.medianAverageDays <br> @messages("index.days")</td>
                            </tr>
                        }
                        </table>
                    </div>
                }
            </div>
        </div>

    </div>
    @* common.searchbox() *@
    <div id="search-wrapper"></div>


    <div id="consultations">
        <div class="container">
            <div id="in-progress">
                <h2>@messages("index.inprogress")</h2>
                @displayConsultation(viewmodel.activeConsultations, messages("index.deadline"))
            </div>
            <hr/>
            <div id="recent">
                <h2>@messages("index.finished")</h2>
                @displayConsultation(viewmodel.recentConsultations, messages("index.closed") )
            </div>
        </div>
    </div>
}

@displayUser(user: User) = {
    <div class="user col-md-6 col-md-offset-3">
        <div class="row">
            <hr class="col-md-12" />
            <h4 class="col-md-8">@messages("index.welcome")</h4>
            <div class="col-md-4 text-right">
                <img src="@user.avatarURL.getOrElse(routes.Assets.at("images/silhouette.png"))" style="height : 40 px ;" />
            </div>
            <hr class="col-md-12" />
        </div>
        <div class="row data">
            <div class="col-md-12">
                <div class="row">
                    <p class="col-md-6"><strong>
                        @messages("index.name.first")</strong></p><p class="col-md-6">@user.firstName.getOrElse("None")</p>
                </div>
                <div class="row">
                    <p class="col-md-6"><strong>
                    @messages("index.name.last")</strong></p><p class="col-md-6">@user.lastName.getOrElse("None")</p>
                </div>
                <div class="row">
                    <p class="col-md-6"><strong>
                    @messages("index.name.full")</strong></p><p class="col-md-6">@user.fullName.getOrElse("None")</p>
                </div>
                <div class="row">
                    <p class="col-md-6"><strong>Email:</strong></p><p class="col-md-6">@user.email.getOrElse("None")</p>
                </div>
            </div>
        </div>
    </div>
}

@displayConsultation(consultations: List[model.dtos.Consultation], label: String) = {

@if(consultations.length == 0) {
    <div class="empty">
        @messages("index.empty")
    </div>
}

@for(cons <- consultations) {
    <div class="consultation">
        <a href="@routes.ConsultationController.getConsultation(cons.id)">@Html(cons.title)</a>
        <br>
        <span class="duration">@label: @cons.endDateFormatted | @messages("evaluation.duration") @cons.totalDurationFormatted</span>
    </div>
}
}

