@(viewmodel:democracit.viewmodels.HomeViewModel)
@js ={}
@css = {}

@layout("Αρχική",css,js){
    <div id="intro">
        <div class="container">
            <h1>Επαναπροσδιορίζοντας τη δημόσια διαβούλευση</h1>
        </div>
    </div>

    <div id="search-box">
        <div class="container">
            @helper.form(action= routes.ConsultationController.search()) {
                <div class="box">
                    <span class="icon"><i class="fa fa-search"></i></span>
                    <input type="search" id="search" name="query" placeholder="Αναζήτηση..." />
                    <button type="submit">Submit</button>
                </div>
            }
        </div>
    </div>
    <div id="consultations">
        <div class="container">
            <div id="in-progress">
                <h2>Σε εξέλιξη:</h2>
                @displayConsultation(viewmodel.activeConsultations)
            </div>
            <div id="recent">
            <h2>Πρόσφατες:</h2>
                @displayConsultation(viewmodel.recentConsultations)
        </div>
        </div>
    </div>


}
@displayConsultation(consultations:List[democracit.dtos.Consultation]) = {
    <table>
        <tbody>
        @for(cons <- consultations) {
            <tr>
                <td><a href="@routes.ConsultationController.getConsultation(cons.id)">@cons.title</a></td>
                <td>λήξη: @cons.endDateFormatted</td>
            </tr>
        }
        </tbody>
    </table>
}

