@import "../utilities/variables";


//#intro {
//  background-image: url("../../images/people.png");
//  background-position: -10px -203px;
//  color: white;
//  margin-top: -20px;
//  height: 420px;
//  text-align:center;
//
//}
//#intro h1
//{
//  line-height:420px;
//  margin:0;
//  padding:0;
//}




#consultations
{
  padding-top:50px;
  padding-bottom:40px;
}

#consultations h2
{
  margin:0;
}
.consultation {
  margin: 30px 0;
  font-size:20px;
}
.consultation i{
  font-size:16px;
}

.total
{
  cursor: pointer;
  color:white;
  padding-bottom: 20px;
  padding-top: 20px;
  text-align: center;
}

.total .wrp
{
  background-color: lightblue;
  font-size: 20px;
  padding-bottom: 40px;
  padding-top: 40px;
}
.organization-group hr{
  margin:5px 0;
}
.organization-group ul
{
  padding-left:0;
  list-style: none;
}
.organization-group li
{
  font-size: 13px;
  margin-bottom: 4px;
}

#platform-stats   h2
{
  margin-bottom: 40px;
  margin-top:20px;
  text-align: center;
}
#platform-stats .table
{
  font-size: 12px;
}

#platform-stats .table td:last-child
{
  text-align: center;
  min-width:70px;
}
#platform-stats .table td
{
  vertical-align: middle;
}
#platform-stats  .active
{
  color:darkred;
}
#platform-stats .panel
{
  box-shadow:none;
  margin:0;
  border:none;
}