@import "../utilities/variables";

//#intro {
//  background-image: url("../../images/people.png");
//  background-position: -10px -203px;
//  color: white;
//  margin-top: -20px;
//  height: 420px;
//  text-align:center;
//
//}
//#intro h1
//{
//  line-height:420px;
//  margin:0;
//  padding:0;
//}

.navbar
{
  margin-bottom:0;
}


#democracit-demo
{
  display:none;
}

#democracit h1
{
  font-size:33px;
}
#democracit h1,#democracit h2
{
  margin:0;
}
#democracit h2
{
  margin-top:15px;
}

#faq
{

  background-color:gray;
  text-align: center;
}

#faq .carousel-caption{
  position:static;
  color:inherit;
  text-shadow: none;
  padding-bottom: 25px;
  padding-top: 25px;
  font-size:20px;

}

#faq .carousel-caption a
{
  color:white;
}

.total {
  cursor: pointer;
  color:white;
  padding-bottom: 40px;
  padding-top: 40px;
  text-align: center;
}

.total .wrp, .total .wrp.collapsed:hover {

  font-size: 20px;
  padding-bottom: 80px;
  padding-top: 80px;
  border-radius:8px;
}

.total .wrp{
  background-color: #355163 ;
}

.total .wrp.collapsed#consultation-stats
{
  background-color:#f39797;
}
.total .wrp.collapsed#comments-stats
{
  background-color:#3ca1fc;
}
.total .wrp.collapsed#duration-stats
{
  background-color:#a4a4f4;
}


.total .wrp.collapsed:hover{
  background-color: #355163 !important;
}

.organization-group hr{
  margin:5px 0;
}
.organization-group ul
{
  padding-left:0;
  list-style: none;
}
.organization-group li
{
  font-size: 13px;
  margin-bottom: 4px;
}

#platform-stats   h2
{
  margin-bottom: 40px;
  margin-top:0;
  text-align: center;
}
#platform-stats .table
{
  font-size: 12px;
}

#platform-stats .table td:last-child
{
  text-align: center;
  min-width:70px;
}
#platform-stats .table td
{
  vertical-align: middle;
}
#platform-stats  .active
{
  color:darkred;
}
#platform-stats .panel
{
  box-shadow:none;
  margin:0;
  border:none;
}

#consultations
{
  padding-top:50px;
  padding-bottom:40px;
}

#consultations h2
{
  margin:0;
}
.consultation {
  margin: 15px 0;

}
.consultation .duration{
  font-size:13px;
}
