h3 {
  font-size: 20px; }

.navbar {
  margin-bottom: 0; }

#key-features h2 {
  text-align: center; }

.promo-section {
  padding: 30px 0;
  padding-bottom: 60px; }

.promo-section h2 {
  margin-bottom: 40px; }

#mission.promo-section h2 {
  margin: 10px; }

#mission .moto {
  margin-bottom: 40px;
  margin-left: 10px; }

.promo {
  background-image: radial-gradient(circle farthest-corner at center center, #04a3ed, #04639a);
  color: #f2f6fa;
  font-size: 25px;
  font-weight: 300;
  line-height: 33px;
  min-height: 280px;
  position: relative;
  text-align: center; }

.promo h1 {
  color: #f2f6fa;
  font-size: 39px;
  font-weight: 300;
  line-height: 56px;
  margin: 0;
  padding-bottom: 16px;
  padding-top: 72px; }

.promo h2 {
  margin-bottom: 42px;
  margin-top: 0; }

.promo a {
  color: white; }

.promo .request {
  background: #ed6d46 none repeat scroll 0 0;
  border-radius: 10px;
  color: #f2f6fa;
  font-size: 20px;
  font-weight: 300;
  padding: 10px; }

#more-info {
  background: #323a41 none repeat scroll 0 0;
  color: #f2f6fa;
  text-align: center;
  padding-bottom: 90px; }

#more-info {
  text-align: left; }

#more-info p {
  margin-bottom: 23px; }

.promo-section ul {
  list-style: none;
  padding-left: 0; }

.promo-section li {
  margin-bottom: 3px; }

.promo-section a:hover {
  color: white; }

#mission img {
  height: 160px;
  margin-bottom: 10px; }

#mission .contact-btn {
  display: inline-block;
  margin-top: 10px; }

.login-btn, .contact-btn {
  border-radius: 5px;
  color: white;
  padding: 10px; }

.contact-btn.blue {
  background-color: #4b6e98; }

.login-btn {
  text-decoration: underline;
  padding-left: 0; }

.contact-btn {
  background-color: #ed6d46; }

.promo .try {
  display: block; }

.democracit-demo {
  display: none; }

.democracit-demo.show {
  display: block; }

#democracit h1 {
  font-size: 33px; }

#democracit h1, #democracit h2 {
  margin: 0; }

#democracit h2 {
  margin-top: 15px; }

#faq {
  background-color: gray;
  text-align: center; }

#faq .carousel-caption {
  position: static;
  color: inherit;
  text-shadow: none;
  padding-bottom: 25px;
  padding-top: 25px;
  font-size: 20px; }

#faq .carousel-caption a {
  color: white; }

.total {
  cursor: pointer;
  color: white;
  padding-bottom: 40px;
  padding-top: 40px;
  text-align: center; }

.total .wrp, .total .wrp.collapsed:hover {
  font-size: 20px;
  padding-bottom: 80px;
  padding-top: 80px;
  border-radius: 8px; }

.total .wrp {
  background-color: #355163; }

.total .wrp.collapsed#consultation-stats {
  background-color: #f39797; }

.total .wrp.collapsed#comments-stats {
  background-color: #3ca1fc; }

.total .wrp.collapsed#duration-stats {
  background-color: #a4a4f4; }

.total .wrp.collapsed:hover {
  background-color: #355163 !important; }

.organization-group hr {
  margin: 5px 0; }

.organization-group ul {
  padding-left: 0;
  list-style: none; }

.organization-group li {
  font-size: 13px;
  margin-bottom: 4px; }

#platform-stats h2 {
  margin-bottom: 40px;
  margin-top: 0;
  text-align: center; }

#platform-stats .table {
  font-size: 12px; }

#platform-stats .table td:last-child {
  text-align: center;
  min-width: 70px; }

#platform-stats .table td {
  vertical-align: middle; }

#platform-stats .active {
  color: darkred; }

#platform-stats .panel {
  box-shadow: none;
  margin: 0;
  border: none; }

#consultations {
  padding-top: 50px;
  padding-bottom: 40px; }

#consultations h2 {
  margin: 0; }

.consultation {
  margin: 15px 0; }

.consultation .duration {
  font-size: 13px; }

/*# sourceMappingURL=index.css.map */
