.totalCommentsTitle {
  float: left; }

.totalComments {
  margin-left: 10px;
  color: #428bca;
  float: left; }

/*.chart div {
  font: 12px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
  margin-bottom: 3px;
}
*/
.statsBar.nav-tabs > li.active > a, .statsBar.nav-tabs > li.active > a:hover, .statsBar.nav-tabs > li.active > a:focus {
  border: none !important; }

.statsBar > li > a {
  border-radius: 0px;
  border: none;
  margin: 0px; }

.statsBar > li > a:hover {
  background-color: #ed6d46;
  border: none;
  margin: 0px; }

.chart {
  margin: 20px; }

.stats {
  margin-top: 10px; }

.axis text {
  font: 10px sans-serif; }

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges; }

.notClicked {
  display: none; }

.comment .options div {
  float: left;
  margin-right: 5px; }

.comment .options span {
  float: left; }

.comment .options {
  margin-top: 10px;
  height: 20px; }

.comment {
  font-weight: normal;
  padding: 10px 1em;
  padding-right: 40px;
  position: relative;
  border: 1px solid lightgray;
  background-color: #f4f7f7;
  margin-bottom: 2px;
  border-radius: 6px;
  margin-top: 5px; }

/*.comment .avatar {
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}
*/
.avatar {
  border-radius: 20px;
  float: left;
  margin-right: 10px;
  margin-top: -9px;
  max-height: 40px; }

.comment {
  font-size: 12px; }

.comment .icons {
  position: absolute;
  right: 14px;
  top: 5px;
  opacity: 0.8; }

.comment .commentAuthor {
  color: #3b5998;
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
  display: inline-block;
  margin-right: 3px; }

.comment .avatar img {
  height: 30px; }

.comment .date {
  color: gray; }

.comment .options .fa {
  margin-left: 5px; }

.comment .options a {
  cursor: pointer;
  float: left; }

.comment .options .c {
  margin-right: 20px;
  margin-left: 5px;
  display: inline-block; }

.comment .tag.pr span {
  background-color: lightcoral; }

.comment .tag.topic span {
  background-color: greenyellow; }

.comment .tag {
  margin-bottom: 5px;
  margin-right: 5px; }

.comment .tag span {
  display: inline-block;
  background-color: lightgray;
  width: auto;
  border-radius: 4px;
  padding: 1px 4px; }

.noStats {
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 10%; }

.userStatsTab tr:hover {
  cursor: pointer; }

.statsBar {
  background-color: #7cb6f7; }

.statsBar.nav-tabs {
  border-color: #7cb6f7; }

.statsBar a {
  color: white; }

.downloadStats {
  margin-top: 20px;
  list-style-type: none;
  padding: 0px; }

.downloadStats li {
  margin-bottom: 10px; }

.downloadStats li i {
  margin-right: 5px; }

.downloadStats li a:hover, a:focus {
  text-decoration: none; }

.statsTooltip {
  margin-left: 5px;
  color: #428bca; }

.explanation {
  margin-top: 10px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 20px; }

.explanation .fa {
  color: #428bca; }

.verticalChart {
  /*margin-left: -185px;*/ }

/*# sourceMappingURL=reporter.css.map */
