.totalCommentsTitle {
  float:left;
}

.totalComments {
  margin-left: 10px;
  color: #428bca;
  float: left;
}

.chart div {
  font: 12px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
  margin-bottom: 3px;
}

.stats {
  margin-top: 10px;
}