@(signUpData: model.viewmodels.forms.SignUpForm.SignUpData)(implicit messages: Messages)


@js ={

}
@css = {

}

@layout(messages("signup.confirmation.title"),css,js,None) {
    <div class="user col-md-6 col-md-offset-3">
        <legend>@messages("sign.up.account")</legend>
        <div class="row data">
            <div class="col-md-12">
                <div class="row">
                    <p@messages("signup.confirmation.welcome")></p>
                    <p>@messages("signup.confirmation.emai",  "'" + signUpData.email + "'")</p>
                </div>
            </div>
        </div>
    </div>
}

