@(user: User)(implicit messages: Messages)


@js ={

}
@css = {

}

@layout(messages("home.title"),css,js,Some(user)) {
    <fieldset class="col-md-6 col-md-offset-3">
        <legend>Επιβεβαίωση αλλαγής κωδικού</legend>
        <div class="user col-md-6 col-md-offset-3">
            <div class="row data">
                <div class="col-md-12">
                    <div class="row">
                        <p>Ο κωδικός σας έχει αλλάξει.</p>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
}
