@(email: String)(implicit messages: Messages)

@js ={

}
@css = {

}

@layout(messages("specify.password.title"),css,js,None) {
    <fieldset class="col-md-6 col-md-offset-3">
        <legend>@messages("reset.password.email.sent")</legend>
        <div class="user col-md-6 col-md-offset-3">
            <div class="row data">
                <div class="col-md-12">
                    <div class="row">
                        <p>@messages("sentresetpassword.message", "'" + email + "'")</p>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>

}
