@(signInForm: Form[model.viewmodels.forms.SignInForm.Data],returnUrl:Option[String], socialProviders: com.mohiva.play.silhouette.impl.providers.SocialProviderRegistry)(implicit request: RequestHeader, messages: Messages)
@import com.mohiva.play.silhouette.impl.providers.oauth2.ClefProvider
@import b3.inline.fieldConstructor

@js ={

}
@css = {

}




@layout(messages("sign.in.title"),css,js,None) {
    @request.flash.get("error").map { msg =>
        <div class="col-md-6 col-md-offset-3 alert alert-danger alert-error">
            <a href="#" class="close" data-dismiss="alert">&times;</a>
            <strong>@messages("error")</strong> @msg
        </div>
    }
    <fieldset class="col-md-6 col-md-offset-3">
        <legend>@messages("sign.in.credentials")</legend>
        @helper.form(action = routes.CredentialsAuthController.authenticate()) {
            @helper.CSRF.formField
            @b3.email(signInForm("email"), '_hiddenLabel -> messages("email"), 'placeholder -> messages("email"), 'class -> "form-control input-lg")
            @b3.password(signInForm("password"), '_hiddenLabel -> messages("password"), 'placeholder -> messages("password"), 'class -> "form-control input-lg")
            <a href="@routes.PasswordChangeController.startResetPassword">@Messages("forgot.password")</a>
            @b3.checkbox(signInForm("rememberMe"), '_text -> messages("remember.me"), 'checked -> true)
            <input type="hidden" name="returnUrl" value="@returnUrl.getOrElse("")"/>

            <div class="form-group">
                <div>
                    <button id="submit" type="submit" value="submit" class="btn btn-lg btn-primary btn-block">@messages("sign.in")</button>
                </div>
            </div>
        }

        <div>
            <p class="not-a-member">@messages("not.a.member") <a href="@routes.SignUpController.signUpRequest">@messages("sign.up.now")</a></p>
        </div>

        @if(socialProviders.providers.nonEmpty) {
            <div class="social-providers">
                <p>@messages("or.use.social")</p>
                <div>
                @for(p <- socialProviders.providers if p.id != "clef") {
                    @defining(  routes.SocialAuthController.authenticate(p.id) +
                            (if (returnUrl.isDefined) "?returnUrl="+returnUrl.get else "")
                    ) { url=>
                        <a href="@url" class="provider @p.id" title="@messages(p.id)"><img src="@routes.Assets.at(s"images/providers/${p.id}.png")" width="64px" height="64px" alt="@messages(p.id)"></a>
                    }
                }
                </div>
                @defining(socialProviders.get[ClefProvider]) { clef =>
                    @if(clef.isDefined) {
                        <script type="text/javascript" src="https://clef.io/v3/clef.js" class="clef-button" data-app-id="@clef.get.settings.clientID" data-color="blue" data-style="flat" data-redirect-url="@clef.get.settings.redirectURL" data-type="login"></script>
                    }
                }
            </div>
        }

    </fieldset>
}
