@()(implicit messages: Messages)

@js = {

}
@css = {

}

@layout("Ανάκτηση κωδικού", css, js, None) {
    <fieldset class="col-md-6 col-md-offset-3">
        <legend>@messages("unknownemail.title")</legend>
        <div class="user col-md-6 col-md-offset-3">
            <div class="row data">
                <div class="col-md-12">
                    <div class="row">
                        <p>@messages("unknownemail.message") </p>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
}
