@(title: String, css: Html, js: Html, user: Option[model.User] = None)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>Democracit - @title</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link media="all" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans:600:400:300|Bree+Serif:400:400normal&amp;subset=vietnamese,greek-ext,devanagari,cyrillic-ext,latin-ext,latin,greek,cyrillic" id="vtcore-google-fonts-css" rel="stylesheet">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("css/font-awesome.min.css")">
        @*<link rel="stylesheet" media="screen" href="@routes.Assets.at("css/bootstrap.min.css")">*@
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">

        <link href="//cdnjs.cloudflare.com/ajax/libs/ionicons/1.5.2/css/ionicons.min.css" rel="stylesheet">
        <link rel="stylesheet" href="@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap.min.css"))">
        <link rel="stylesheet" href="@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap-theme.min.css"))">
        <link rel="stylesheet" href="@routes.Assets.at("css/sweetalert.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("css/common.css")">

            <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
            <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
            <![endif]-->

        @css
        @common.googleAnalytics()
    </head>
    <body>
        <header>
            <nav class="navbar navbar-default ">
                <div class="container">
                    <div class="navbar-header ">
                    <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="/" class="navbar-brand"> <img id="logo" alt="Brand" src="@routes.Assets.at("images/logo.png")"></a>
                </div>
                    <div id="navbar" class="navbar-collapse collapse" >
                    <ul class="nav navbar-nav navbar-right">
                        <li class="active"><a href="http://www.democracit.org" target="_blank">
                            ΣΧΕΤΙΚΑ</a></li>
                        <li>
                        @user.map { u =>
                            <li><a href="@routes.HomeController.index">@u.fullName</a></li>
                            <li><a href="@routes.AccountController.signOut">ΕΞΟΔΟΣ</a></li>
                            }.getOrElse {
                            <li><a href="@routes.AccountController.signIn">ΕΙΣΟΔΟΣ</a></li>
                            <li><a href="@routes.AccountController.signUp">ΕΓΓΡΑΦΗ</a></li>
                    }
                    </ul>
                </div>
                </div>
            </nav>
        </header>
        <div id="content">
            @content
        </div>

        <footer id="footer">
            <div class="container">
                <div class="row ">
                    <div class="col-md-5 program-info ">
                        <div class="info">
                            Το έργο χρηματοδοτείται από την Ισλανδία, το Λιχτενστάιν και τη Νορβηγία στο πλαίσιο του Προγράμματος «Είμαστε όλοι Πολίτες», το οποίο είναι μέρος του συνολικού Χρηματοδοτικού Μηχανισμού του ΕΟΧ για την Ελλάδα, γνωστού ως EEA Grants.
                            Διαχειριστής Επιχορήγησης του Προγράμματος είναι το  Ίδρυμα Μποδοσάκη. Στόχος του Προγράμματος είναι η ενδυνάμωση της κοινωνίας των πολιτών στη χώρα μας και η ενίσχυση της κοινωνικής δικαιοσύνης, της δημοκρατίας και της βιώσιμης ανάπτυξης.
                        </div>
                        <a href="http://www.weareallcitizens.gr/" target="_blank"><img  src="@routes.Assets.at("images/Polites_gr_site.jpg")"></a>
                        <a href="http://www.bodossaki.gr/gr/home" target="_blank"><img  src="@routes.Assets.at("images/Bodossaki_gr_site.jpg")"> </a>
                        <a href="http://eeagrants.org/" target="_blank"><img  src="@routes.Assets.at("images/eea_gr_site.jpg")">  </a>
                    </div>
                    <div class="col-md-3">
                        <h2>Συνεργάτες</h2>
                        <ul>
                            <li><a href="http://www.dit.hua.gr/index.php/el/" target="_blank">Χαροκοπείο Πανεπιστημίο</a> </li>
                            <li><a href="http://placeidentity.gr/" target="_blank">Place Identity</a></li>
                            <li><a href="http://www.cafebabel.co.uk/athens/" target="_blank">CaféBabel </a></li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <h2>Social</h2>
                        <div class="post-social">
                            <ul class="unstyled inline">
                                <li><a href="https://www.facebook.com/democracit" target="_blank"><div class="faplus clearfix fa"><span class="fa"><i class="fa fa-facebook"></i></span></div></a></li>
                                <li><a href="https://www.linkedin.com/company/2894834" target="_blank"><div class="faplus clearfix fa"><span class="fa"><i class="fa fa-linkedin"></i></span></div></a></li>
                                <li><a href="https://plus.google.com/104190693934873133819" target="_blank"><div class="faplus clearfix fa"><span class="fa"><i class="fa fa-google-plus"></i></span></div></a></li>
                                <li><a href="https://twitter.com/democracitorg" target="_blank"><div class="faplus clearfix fa"><span class="fa"><i class="fa fa-twitter"></i></span></div></a></li><li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <footer id="full-footer">
            <div class="container-fluid">
                <div class="row">
                    <div data-vertical-offset="0" class="region vertical-target text-center col-xs-12 col-sm-12 col-md-12 col-lg-12" id="copyright">

                        <p class="copyright">© <a href="http://www.scify.org" target="_blank">Scify 2014 </a></p>
                    </div>
                </div>
            </div>
        </footer>

        <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.1.3.js"></script>
        <script src="@routes.Assets.at("js/bootstrap.min.js")" ></script>
        <script src="@routes.Assets.at("js/sweetalert.min.js")"></script>
        <script src="@routes.Assets.at("js/common.js")" ></script>
        @js
    </body>
</html>
