@(title: String, css: Html, js: Html, user: Option[User] = None)(content: Html)(implicit messages :Messages)

<!DOCTYPE html>

<html>
    <head>
        <title>Democracit - @title</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta property="og:type" content="website" />
        <meta property="og:site_name" content="DemocracIT />
        <meta property="og:title" content='@messages("layout.twitter.title")'/>
        <meta property="og:url" content="@routes.Assets.at("images/democracit_logo_bg.jpg")" />
        <meta property="og:description" content='@messages("layout.twitter.description")' />
        <meta property="og:locale" content="el_gr" />
        <meta property="og:image" content="@routes.Assets.at("images/democracit_logo_bg.jpg")" />
        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:site" content="@@democracit" />
        <meta name="twitter:title" content='@messages("layout.twitter.title")' />
        <meta name="twitter:description" content='@messages("layout.twitter.description")' />
        <meta name="twitter:image" content="@routes.Assets.at("images/democracit_logo_bg.jpg")" />
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("css/font-awesome.min.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">

        <link href="//cdnjs.cloudflare.com/ajax/libs/ionicons/1.5.2/css/ionicons.min.css" rel="stylesheet">
        <link rel="stylesheet" href="@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap.min.css"))">
        <link rel="stylesheet" href="@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap-theme.min.css"))">
        <link rel="stylesheet" href="@routes.Assets.at("css/sweetalert.css")">
        <link rel="stylesheet" href="@routes.Assets.at("css/spinner.css")">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("css/common.css")">

            <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
            <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
            <![endif]-->

        @css
        @common.googleAnalytics()
        @common.facebookTracking()

    </head>
    <body>
        <header>
            @common.navbar(user)
        </header>

        <div id="democracit-demo">
            <div class="mask">
                <div class="container">
                    <i class="fa fa-info"></i>
                Demo website | Are you interested into using democracit in your company? <a href=""> contact us</a>
                </div>
            </div>
        </div>

        <div id="content">
            @content
        </div>

      @common.footer()

        <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.1.3.js"></script>
        <script src="@routes.Assets.at("js/classnames.js")" ></script>
        <script src="@routes.Assets.at("js/react-with-addons.js")"></script>
        <script src="@routes.Assets.at("js/bootstrap.min.js")" ></script>
        <script src="@routes.Assets.at("js/sweetalert.min.js")"></script>
        <script src="@routes.Assets.at("js/common-compiled.js")" ></script>
        @js
    </body>
</html>
