@(user:Option[model.User], annotationsRelatedToProblems: Seq[model.dtos.AnnotationTags], annotationsRelatedToTopics: Seq[model.dtos.AnnotationTags])

<div class="modal fade" id="toolbar-modal" tabindex="-1" role="dialog" aria-labelledby="annotate-toolbar">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel" >
                        Παρατήρηση/Σχόλιο για το τμήμα κειμένου:
                </h4>
            </div>
            <div class="modal-body">

                <div id="toolbar" class='@{if (user.isDefined) "logged-in" else "" }'>

                    <form action="@routes.AnnotationController.annotatePost()" method="post">

                        <div>
                            <blockquote></blockquote>
                        </div>

                        <div class="padding">
                        @if(user.isDefined){

                            <label id="tag-topics-label"><span data-article="Σε ποιό θέμα αναφέρεται το άρθρο;" data-text="Σε ποιό θέμα αναφέρεται το κείμενο;"></span>&nbsp;
                                <i class="fa fa-info-circle"
                                data-toggle="tooltip"
                                data-placement="top"
                                data-article="βοηθήστε το νομοθέτη θέτωντας tags για το συγκεκριμένο αρθρο"
                                data-text="βοηθήστε το νομοθέτη θέτωντας tags για το συγκεκριμένο τμήμα κειμένου"
                                title="sd"></i>
                            </label>

                            <select id="annotationTagTopicId" name="annotationTagTopicId" multiple>
                            @for(annotation <- annotationsRelatedToTopics) {
                                <option value="@annotation.id">@annotation.description</option>
                            }
                            </select>

                            <label id="tag-problem-label"><span data-article="Αναγνωρίζεται κάποιο πρόβλημα στο άρθρο;" data-text="Αναγνωρίζεται κάποιο πρόβλημα;"></span>&nbsp;
                                <i class="fa fa-info-circle"
                                data-toggle="tooltip"
                                data-placement="top"
                                title="βοηθήστε το νομοθέτη αναφέροντας προβλήματα"></i>
                            </label>
                            <select id="annotationTagProblemId" name="annotationTagProblemId" multiple>
                            @for(annotation <- annotationsRelatedToProblems){
                                <option value="@annotation.id">@annotation.description</option>
                            }
                            </select>



                            <div id="comment-wrap">
                                Αφήστε την παρατήρησή/σχόλιο σας:
                                <textarea name="body" placeholder="θα ήθελα να δηλώσω..."></textarea>
                            </div>

                            <input type="hidden" name="articleid" value=""/>
                            <input type="hidden" name="discussionroomannotationtagid" value=""/>


                        } else {
                            <div class="notLoggedinWrapper">
                                <div class="msg"><i class="fa fa-exclamation-triangle"></i><p class="notLoggedText">Για αυτή την ενέργεια χρειάζεται να είστε <a href="/signIn">συνδεδεμένοι</a></p></div>
                            </div>
                        }
                        </div>

                    </form>
                </div>
            </div>
            <div class="modal-footer">
                @if(user.isDefined) {
                    <button id="save-annotation" class="btn blue" type="submit">Καταχώρηση</button>
                }
            <button class="close btn red" type="button" data-dismiss="modal"  class="btn red" >Κλείσιμο</button>
            </div>
        </div>
    </div>
</div>
