@(user:Option[User], annotationsRelatedToProblems: Seq[model.dtos.AnnotationTags],
  annotationsRelatedToTopics: Seq[model.dtos.AnnotationTags],
  consultationOpenGovUrl:String)(implicit request: play.api.mvc.Request[Any])

<div class="modal fade" id="toolbar-modal" tabindex="-1" role="dialog" aria-labelledby="annotate-toolbar">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel" >
                        Παρατήρηση/Σχόλιο για το τμήμα κειμένου:
                </h4>
            </div>
            <form action="@routes.AnnotationController.annotatePost()" method="post">
            <div class="modal-body">

                <div id="toolbar" class='@{if (user.isDefined) "logged-in" else "" }'>
                        <div>
                            <blockquote></blockquote>
                        </div>

                        <div class="padding">
                        @if(user.isDefined){

                            <label id="tag-topics-label"><span data-article="Σε ποιό θέμα αναφέρεται το άρθρο;" data-text="Σε ποιό θέμα αναφέρεται το κείμενο;"></span>&nbsp;
                                <i class="fa fa-info-circle"
                                data-toggle="tooltip"
                                data-placement="top"
                                data-article="βοηθήστε το νομοθέτη θέτωντας tags για το συγκεκριμένο αρθρο"
                                data-text="βοηθήστε το νομοθέτη θέτωντας tags για το συγκεκριμένο τμήμα κειμένου"
                                title="sd"></i>
                            </label>

                            <select id="annotationTagTopicId" name="annotationTagTopicId" multiple>
                            @for(annotation <- annotationsRelatedToTopics) {
                                <option value="@annotation.id">@annotation.description</option>
                            }
                            </select>


                            <label id="tag-problem-label"><span data-article="Αναγνωρίζετε κάποιο πρόβλημα στο άρθρο;" data-text="Αναγνωρίζετε κάποιο πρόβλημα;"></span>&nbsp;
                                <i class="fa fa-info-circle"
                                data-toggle="tooltip"
                                data-placement="top"
                                title="βοηθήστε το νομοθέτη αναφέροντας προβλήματα"></i>
                            </label>
                            <select id="annotationTagProblemId" name="annotationTagProblemId" multiple>
                            @for(annotation <- annotationsRelatedToProblems){
                                <option value="@annotation.id">@annotation.description</option>
                            }
                            </select>



                            <div id="comment-wrap">
                                Αφήστε την παρατήρησή/σχόλιο σας:
                                <textarea name="body" placeholder="θα ήθελα να δηλώσω..."></textarea>
                            </div>

                            <input type="hidden" name="articleid" value=""/>
                            <input type="hidden" name="discussionroomtypeid" value=""/>
                            <input type="hidden" name="discussionroomannotationtagid" value=""/>
                            <input type="hidden" name="emotionId" value=""/>
                            <input type="hidden" name="forEdit" value="0"/>
                            <input type="hidden" name="commentId" value=""/>
                            <input type="hidden" name="revision" value=""/>
                            <!--Declare emotion-->
                            <div class="emotionMsg">Το κείμενο που σχολιάζω με κάνει να νιώθω:</div>
                            <div class="emotionContainer">
                                <ul class="emotionList">
                                    <li class="emotionItem" id="emotion1" title="Πολύ χαρούμενος" data-id="1"><img src="@routes.Assets.at("images/emoticons/emoticon-superhappy.png")"></li>
                                    <li class="emotionItem" id="emotion2" title="Χαρούμενος" data-id="2"><img src="@routes.Assets.at("images/emoticons/emoticon-happy.png")"></li>
                                    <li class="emotionItem" id="emotion3" title="Ανήσυχος" data-id="3"><img src="@routes.Assets.at("images/emoticons/emoticon-worried.png")"></li>
                                    <li class="emotionItem" id="emotion4" title="Λυπημένος" data-id="4"><img src="@routes.Assets.at("images/emoticons/emoticon-sad.png")"></li>
                                    <li class="emotionItem" id="emotion5" title="Νευριασμένος" data-id="5"><img src="@routes.Assets.at("images/emoticons/emoticon-angry.png")"></li>
                                </ul>
                            </div>
                        } else {
                            <div class="notLoggedinWrapper">
                                <div class="msg"><i class="fa fa-exclamation-triangle"></i><p class="notLoggedText">Για αυτή την ενέργεια χρειάζεται να είστε <a href="/signIn?returnUrl=@request.uri">συνδεδεμένοι</a></p></div>
                            </div>
                        }
                        </div>


                </div>
            </div>
            <div class="modal-footer">

                @if(user.isDefined) {
                    <span class="warning"><i class="fa fa-warning"></i> μη ξεχνάτε ότι ο επίσημος φορέας της ανοικτής διαβούλευσης ειναι το OpenGov.
                    <a href="@consultationOpenGovUrl" target="_blank">Κλικ εδώ</a> για να αφήσετε το σχόλιο σας και στη σελίδα της διαβούλευσης του OpenGov.
                        <a href="http://about.democracit.org/frequently-asked-questions#question-3">Μάθετε περισσότερα</a></span>
                    <button id="save-annotation"c class="btn blue" type="submit">Καταχώρηση</button>
                }
            <button class="close btn red" type="button" data-dismiss="modal"  class="btn red" >Κλείσιμο</button>
            </div>
            </form>
        </div>
    </div>
</div>
