@(user:Option[User], annotationsRelatedToProblems: Seq[model.dtos.AnnotationTags],
  annotationsRelatedToTopics: Seq[model.dtos.AnnotationTags],
  consultationOpenGovUrl:String)(implicit request: play.api.mvc.Request[Any], messages :Messages)

<div class="modal fade" id="toolbar-modal" tabindex="-1" role="dialog" aria-labelledby="annotate-toolbar">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel" >
                        @messages("annotation.comment.text")
                </h4>
            </div>
            <form action="@routes.AnnotationController.annotatePost()" method="post">
            <div class="modal-body">

                <div id="toolbar" class='@{if (user.isDefined) "logged-in" else "" }'>
                        <div>
                            <blockquote></blockquote>
                        </div>

                        <div class="padding">
                        @if(user.isDefined){

                            <label id="tag-topics-label"><span data-article='@messages("annotation.comment.tagtext")' data-text="@messages("annotation.comment.tagtext")"></span>&nbsp;
                                <i class="fa fa-info-circle"
                                data-toggle="tooltip"
                                data-placement="top"
                                data-article='@messages("annotation.comment.tagtexttip.article")'
                                data-text='@messages("annotation.comment.tagtexttip.text")'
                                title="sd"></i>
                            </label>

                            <select id="annotationTagTopicId" name="annotationTagTopicId" multiple>
                            @for(annotation <- annotationsRelatedToTopics) {
                                <option value="@annotation.id">@annotation.description</option>
                            }
                            </select>


                            <label id="tag-problem-label"><span data-article="@messages("annotation.comment.problem.texttip.article")" data-text="@messages("annotation.comment.problem.texttip.text")"></span>&nbsp;
                                <i class="fa fa-info-circle"
                                data-toggle="tooltip"
                                data-placement="top"
                                title="@messages("comment.Annotator.problemIcon")"></i>
                            </label>
                            <select id="annotationTagProblemId" name="annotationTagProblemId" multiple>
                            @for(annotation <- annotationsRelatedToProblems){
                                <option value="@annotation.id">@annotation.description</option>
                            }
                            </select>



                            <div id="comment-wrap">
                                @messages("annotation.comment.leavetext.prompt")
                                <textarea name="body" placeholder='@messages("annotation.comment.leavetext.placeholder")'></textarea>
                            </div>

                            <input type="hidden" name="articleid" value=""/>
                            <input type="hidden" name="discussionroomtypeid" value=""/>
                            <input type="hidden" name="discussionroomannotationtagid" value=""/>
                            <input type="hidden" name="emotionId" value=""/>
                            <input type="hidden" name="forEdit" value="0"/>
                            <input type="hidden" name="commentId" value=""/>
                            <input type="hidden" name="revision" value=""/>
                            <!--Declare emotion-->
                            <div class="emotionMsg">@messages("annotation.comment.emotion.text")</div>
                            <div class="emotionContainer">
                                <ul class="emotionList">
                                    <li class="emotionItem" id="emotion1" title='@messages("annotation.comment.emotion.veryhappy.text")' data-id="1"><img src="@routes.Assets.at("images/emoticons/emoticon-superhappy.png")"></li>
                                    <li class="emotionItem" id="emotion2" title='@messages("annotation.comment.emotion.happy.text")' data-id="2"><img src="@routes.Assets.at("images/emoticons/emoticon-happy.png")"></li>
                                    <li class="emotionItem" id="emotion3" title='@messages("annotation.comment.emotion.anxious.text")' data-id="3"><img src="@routes.Assets.at("images/emoticons/emoticon-worried.png")"></li>
                                    <li class="emotionItem" id="emotion4" title='@messages("annotation.comment.emotion.sad.text")' data-id="4"><img src="@routes.Assets.at("images/emoticons/emoticon-sad.png")"></li>
                                    <li class="emotionItem" id="emotion5" title='@messages("annotation.comment.emotion.angry.text")' data-id="5"><img src="@routes.Assets.at("images/emoticons/emoticon-angry.png")"></li>
                                </ul>
                            </div>
                        } else {
                            <div class="notLoggedinWrapper">
                                <div class="msg"><i class="fa fa-exclamation-triangle"></i>
                                    @defining("<a href=\"/signIn?returnUrl="+ request.uri +"\">") { url=>
                                        <p class="notLoggedText">
                                            @Html(messages("notlogedintext",url,"</a>"))

                                        </p></div>
                                    }

                            </div>
                        }
                        </div>


                </div>
            </div>
            <div class="modal-footer">

                @if(user.isDefined) {
                    <span class="warning"><i class="fa fa-warning"></i>
                        @Html(messages("annotation.comment.remindertext",
                            "<a href=\"" + {consultationOpenGovUrl} + "\" target=\"_blank\">",
                            "</a>",
                            "<a href=\"http://about.democracit.org/frequently-asked-questions#question-3\">"))</span>
                    <button id="save-annotation"c class="btn blue" type="submit">@messages("submitbtn")</button>
                }
            <button class="close btn red" type="button" data-dismiss="modal"  class="btn red" >@messages("closebtn")</button>
            </div>
            </form>
        </div>
    </div>
</div>
