@()(implicit messages :Messages)
<footer id="footer">
    <div class="container">
        <div class="row ">
            <div class="col-md-5 program-info ">
                <div class="info">
                            @Html(messages("footer.infotext", "<a href=\"http://www.weareallcitizens.gr/\" target=\"_blank\">",
                                "</a>", "<a href=\"http://eeagrants.org/\" target=\"_blank\" >",
                            "<a href=\"http://www.bodossaki.gr/\" target=\"_blank\">"))

                </div>
                <a href="http://www.weareallcitizens.gr/" target="_blank"><img alt="weareallcitizens.gr" src="http://www.democracit.org@routes.Assets.at("images/Polites_gr_site.jpg")"></a>
                <a href="http://www.bodossaki.gr/gr/home" target="_blank"><img alt="bodossaki.gr" src="http://www.democracit.org@routes.Assets.at("images/Bodossaki_gr_site.jpg")"> </a>
                <a href="http://eeagrants.org/" target="_blank"><img alt="eeagrants.org" src="http://www.democracit.org@routes.Assets.at("images/eea_gr_site.jpg")">  </a>
            </div>
            <div class="col-md-3">
                <h2>Info</h2>
                <ul>
                    <li><a data-event="contact"  href="http://www.scify.gr/site/en/contact" target="_blank">@messages("footer.contact")</a> </li>
                    <li><a href="http://www.scify.gr" target="_blank">@messages("scify")</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h2>@messages("footer.socialmedia")</h2>
                <div class="post-social">
                    <ul class="unstyled inline">
                        <li><a href="https://www.facebook.com/democracit" target="_blank"><div class="faplus clearfix fa"><span class="fa"><i class="fa fa-facebook"></i></span></div></a></li>
                        <li><a href="https://www.linkedin.com/company/2894834" target="_blank"><div class="faplus clearfix fa"><span class="fa"><i class="fa fa-linkedin"></i></span></div></a></li>
                        <li><a href="https://plus.google.com/104190693934873133819" target="_blank"><div class="faplus clearfix fa"><span class="fa"><i class="fa fa-google-plus"></i></span></div></a></li>
                        <li><a href="https://twitter.com/democracitorg" target="_blank"><div class="faplus clearfix fa"><span class="fa"><i class="fa fa-twitter"></i></span></div></a></li><li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<footer id="full-footer">
    <div class="container-fluid">
        <div class="row">
            <div data-vertical-offset="0" class="region vertical-target text-center col-xs-12 col-sm-12 col-md-12 col-lg-12" id="copyright">

                <p class="copyright">© <a href="http://www.scify.org" target="_blank">SCIFY 2015 </a></p>
                <p class="copyright smallLink">Icons used in this website have been drawn from <a href="https://www.iconsmind.com/Free-Emoticons-flat-icons">iconsmind.com</a></p>
            </div>
        </div>
    </div>
</footer>