@(user: Option[model.User])

    <nav class="navbar navbar-default ">
        <div class="container">
            <div class="navbar-header ">
                <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                @if(play.Play.application().configuration().getString("application.state") == "development") {
                    <a href="/" class="navbar-brand"> <img id="logo" alt="Brand" src="@routes.Assets.at("images/logo.png")"/></a>
                } else {
                    <a href="http://democracit.org" class="navbar-brand"> <img id="logo" alt="Brand" src="http://democracit.org@routes.Assets.at("images/logo.png")"/> </a>
                }

            </div>
            <div id="navbar" class="navbar-collapse collapse" >
                <ul class="nav navbar-nav navbar-right">
                    @if(play.Play.application().configuration().getString("application.state") == "development") {
                        <li><a href="/"><i class="fa fa-home"></i> ΑΡΧΙΚΗ</a></li>
                    } else {
                        <li><a href="http://democracit.org"><i class="fa fa-home"></i> ΑΡΧΙΚΗ</a></li>
                    }
                    @if(play.Play.application().configuration().getString("application.state") == "development") {
                        <li><a href="@routes.ConsultationController.displayAll()"><i class="fa fa-list"></i> ΔΙΑΒΟΥΛΕΥΣΕΙΣ</a></li>
                    } else {
                        <li><a href="http://www.democracit.org@routes.ConsultationController.displayAll()"><i class="fa fa-list"></i> ΔΙΑΒΟΥΛΕΥΣΕΙΣ</a></li>
                    }
                    <li><a href="http://democracit.org/evaluation"><i class="fa fa-bar-chart"></i> ΑΝΑΦΟΡΕΣ</a></li>
                    <li><a href="http://about.democracit.org/blog/"><i class="fa fa-rss"></i> ΒLOG</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-info-circle"></i> ΣΧΕΤΙΚΑ <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="http://about.democracit.org/h-anagki//">H ΑΝΑΓKH</a></li>
                            <li><a href="http://about.democracit.org/to-ergo/">ΤΟ ΕΡΓΟ</a></li>
                            <li><a href="http://about.democracit.org/h-omada/">H ΟΜΑΔΑ</a></li>
                            <li><a href="http://about.democracit.org/frequently-asked-questions"><i class="fa fa-question-circle"></i> ΣΥΧΝΕΣ ΕΡΩΤΗΣΕΙΣ</a></li>
                        </ul>
                    </li>



                    @user.map { u =>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <img src="@u.avatarURL.getOrElse(routes.Assets.at("images/profile_default.jpg"))" class="avatar"/>
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                             @if(play.Play.application().configuration().getString("application.state") == "development") {
                                    <li><a href="@routes.AccountController.signOut"><i class="fa fa-sign-out"></i> ΕΞΟΔΟΣ</a></li>
                             } else {
                                <li><a href="http://www.democracit.org@routes.AccountController.signOut"><i class="fa fa-sign-out"></i> ΕΞΟΔΟΣ</a></li>
                             }
                        </ul>
                    </li>
                    }.getOrElse {
                        @if(play.Play.application().configuration().getString("application.state") == "development") {
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-sign-in"></i> ΕΙΣΟΔΟΣ <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li id="register"><a href="@routes.AccountController.signUp"><i class="fa fa-user-plus"></i> ΕΓΓΡΑΦΗ ΧΡΗΣΤΗ</a></li>
                                    <li id="login"><a href="@routes.AccountController.signIn(None)"><i class="fa fa-users"></i> ΕΧΩ ΗΔΗ ΛΟΓΑΡΙΑΣΜΟ</a></li>
                                </ul>
                            </li>
                        } else {
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-sign-in"></i> ΕΙΣΟΔΟΣ <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li id="register"><a href="http://www.democracit.org@routes.AccountController.signUp"><i class="fa fa-user-plus"></i> ΕΓΓΡΑΦΗ ΧΡΗΣΤΗ</a></li>
                                    <li id="login"><a href="http://www.democracit.org@routes.AccountController.signIn(None)"><i class="fa fa-users"></i> ΕΧΩ ΗΔΗ ΛΟΓΑΡΙΑΣΜΟ</a></li>
                                </ul>
                            </li>
                        }
                    }
                </ul>
            </div>
        </div>
    </nav>


