@(user: Option[User])(implicit messages :Messages)

@defining(play.Play.application().configuration().getString("application.ui.menu.baseurl")){ baseUrl =>

    <nav class="navbar navbar-default ">
        <div class="container">
            <div class="navbar-header ">
                <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>


                    <a href="@baseUrl" class="navbar-brand"> <img id="logo" alt="Brand" src="@baseUrl@routes.Assets.at("images/logo.png")"/> </a>


                </div>
            <div id="navbar" class="navbar-collapse collapse" >
                <ul class="nav navbar-nav navbar-right">

                    <li><a href="@baseUrl"><i class="fa fa-home"></i> @messages("header.home")</a></li>
                    <li><a href="@baseUrl@routes.ConsultationController.displayAll()"><i class="fa fa-list"></i> @messages("header.consultations")</a></li>
                    <li><a href="@baseUrl/evaluation"><i class="fa fa-bar-chart"></i> @messages("header.reports")</a></li>

                    @if(play.Play.application().configuration().getBoolean("application.ui.menu.displaycms")) {
                        <li><a href="http://about.democracit.org/blog/"><i class="fa fa-rss"></i> @messages("header.blog")</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-info-circle"></i> @messages("header.about") <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="http://about.democracit.org/h-anagki//">@messages("header.about.need")</a></li>
                                <li><a href="http://about.democracit.org/to-ergo/">@messages("header.about.project")</a></li>
                                <li><a href="http://about.democracit.org/h-omada/">@messages("header.about.team")</a></li>
                                <li><a href="http://about.democracit.org/frequently-asked-questions"><i class="fa fa-question-circle"></i> @messages("header.about.faq")</a></li>
                            </ul>
                        </li>
                    }

                    @user.map { u =>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <img src="@u.avatarURL.getOrElse(routes.Assets.at("images/profile_default.jpg"))" class="avatar"/>
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="@baseUrl/userProfile"><i class="fa fa-user"></i> @messages("header.profile")</a></li>
                            <li><a href="@baseUrl@routes.AccountController.signOut"><i class="fa fa-sign-out"></i> @messages("header.logout")</a></li>

                        </ul>
                    </li>
                    }.getOrElse {
                        @if(play.Play.application().configuration().getString("application.state") == "development") {
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-sign-in"></i> @messages("header.login") <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li id="register"><a href="@baseUrl@routes.SignUpController.signUpRequest"><i class="fa fa-user-plus"></i> @messages("header.signup")</a></li>
                                    <li id="login"><a href="@baseUrl@routes.AccountController.signIn(None)"><i class="fa fa-users"></i> @messages("header.haveaccount")</a></li>
                                </ul>
                            </li>
                        }
                    }
                </ul>
            </div>
        </div>
    </nav>
}