@(field: Field, label: String = "../../../public", help: String = "../../../public", icon: String = "../../../public")

<div class="form-group  has-feedback @if(field.hasErrors) {has-error}">
    <div>
        <input type="password"
        class="form-control input-lg"
        id="@field.id"
        name="@field.name"
        value="@field.value.getOrElse("../../../public")"
        placeholder="@label" />
        <span class="ion-@icon form-control-feedback"></span>
        <span class="help-block">@help</span>
        <span class="help-block">@{field.error.map { error => Messages(error.message) }}</span>
    </div>
</div>
